<div class="row-fluid">
    <select name="institution" class="input-block-level"></select>
    <a id="editInstitution" data-institution-id="" class="btn btn-mini"><i
            class="icon-edit"></i> <%= $.i18n.prop('btn_edit') %></a>
    <select name="school" class="input-block-level"></select>
    <a id="editSchool" data-school-id="" class="btn btn-mini"><i
            class="icon-edit"></i> <%= $.i18n.prop('btn_edit') %></a>
    <select name="department" class="input-block-level"></select>
    <a id="editDepartment" data-school-id="" class="btn btn-mini"><i
            class="icon-edit"></i> <%= $.i18n.prop('btn_edit') %></a>
</div>

<div class="row-fluid" id="editForm">
</div>