<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3><%= $.i18n.prop('Warning') %></h3>
</div>
<div class="modal-body">
    <h4><%= $.i18n.prop('position.commmittee.structure.warning') %></h4>
    <ol>
        <% _.each(messages, function(message) { %>
        <li><%= $.i18n.prop(message) %></li>
        <% }); %>
    </ol>
    <p><b><%= $.i18n.prop('position.commmittee.structure.areyousure') %></b></p>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-primary"><%= $.i18n.prop('btn_no') %></a>
    <a id="yes" class="btn"><%= $.i18n.prop('btn_yes') %></a>
</div>