<div class="row-fluid">
	<div class="span12">
		<a href="<%- exportUrl %>" target="export" class="btn btn-success btn-small pull-right"><i class="icon-white icon-download"></i> <%= $.i18n.prop("btn_positions_export") %></a>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th><input name="f-id" class="input-block-level" type="text" /></th>
				<th><input name="f-name" class="input-block-level" type="text"/></th>
				<th><input name="f-institution" class="input-block-level" type="text"/></th>
				<th><input name="f-status" class="input-block-level" type="text"/></th>
				<th width="96px"></th>
			</tr>
			<tr>
				<th><%= $.i18n.prop("PositionID") %></th>
				<th><%= $.i18n.prop("PositionName") %></th>
				<th><%= $.i18n.prop("Institution") %></th>
				<th><%= $.i18n.prop("PositionStatus") %></th>
				<th width="96px"></th>
			</tr>
			</thead>
			<tbody>
			<% _.each(positions, function(position) { %>
			<tr>
				<td><%- App.utils.formatPositionID(position.id) %></td>
				<td><%- position.name %></td>
				<td><%= position.department ? _.templates.department(position.department) : "" %></td>
				<td><%= $.i18n.prop('PositionStatus_' + position.phase.clientStatus) %></td>
				<td width="96px">
					<p align="center">
						<% if (position.canEdit) { %>
						<a id="selectPosition" data-position-cid="<%- position.cid %>" class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i> <%= $.i18n.prop('btn_edit') %></a>
						<% } else { %>
						<a id="selectPosition" data-position-cid="<%- position.cid %>" class="btn btn-mini"><i class="icon-eye-open"></i> <%= $.i18n.prop('btn_view') %></a>
						<% } %>
					</p>
				</td>
			</tr>
			<% }); %>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="5">
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>
<div class="row-fluid">
	<div class="span12" id="actions">
	</div>
</div>