<h3><%= $.i18n.prop('PositionCandidacyList') %></h3>
<table class="table table-bordered" id="positionCandidatesTable">
    <thead>
    <tr>
        <th><%= $.i18n.prop("Name") %></th>
        <th><%= $.i18n.prop("Surname") %></th>
        <th><%= $.i18n.prop("FatherName") %></th>
        <th><%= $.i18n.prop("Candidacy") %></th>
        <th width="96px"></th>
        <th width="126px"></th>
    </tr>
    </thead>
    <tbody>
    <% _.each(candidacies, function(candidacy) { %>
    <tr>
        <td><%- candidacy.snapshot.firstname[App.locale] %></td>
        <td><%- candidacy.snapshot.lastname[App.locale] %></td>
        <td><%- candidacy.snapshot.fathername[App.locale] %></td>
        <% if (candidacy.withdrawn) { %>
        <td class="text-error"><%- $.i18n.prop('removeCandidacy') + ' ' + candidacy.withdrawnDate %></td>
        <% } else { %>
        <td><%- $.i18n.prop('currentCandidacy') + ' ' + candidacy.date %></td>
        <% } %>
        <td width="96px">
            <% if (candidacy.allowedToSee) { %>
            <p align="center">
                <a id="viewCandidacy" href="#candidacy/<%- candidacy.id %>" data-candidacy-id="<%- candidacy.id %>"
                   class="btn btn-mini">
                    <i class="icon-eye-open"></i> <%= $.i18n.prop('btn_view') %></a>
            </p>
            <% } %>
        </td>
        <td width="126px">
            <p align="center">
                <a id="candidacyStatusActionsHistory"
                   data-candidacy-id="<%- candidacy.id %>" class="btn btn-mini"><i class="icon-eye-open"></i>
                    <%= $.i18n.prop('btn_actionsHistory') %></a>
            </p>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>