<form name="registerForm" onsubmit="return false">
    <fieldset>
        <legend><b><%= $.i18n.prop('Register') %>:</b> <%- institution.name[App.locale] %></legend>
        <input type="hidden" name="institution" value="<%- institution.id %>"/>

        <div class="row-fluid">
            <div class="span12" id="registerMembers">
                <label for="register-subject"><%= $.i18n.prop('Subject') %>:</label>
                <input type="text" name="subject" class="input-block-level" value="<%- subject.name %>"/>
            </div>
        </div>
        <br/>

        <div class="row-fluid">
            <div class="span12" id="registerMembers">
                <label for="register-members"><%= $.i18n.prop('RegisterMembers') %>:</label>
                <table class="table table-striped table-bordered" width="100%">
                    <thead>
                    <tr>
                        <th><%= $.i18n.prop("Name") %></th>
                        <th><%= $.i18n.prop("Surname") %></th>
                        <th><%= $.i18n.prop("ID") %></th>
                        <th><%= $.i18n.prop("Profile") %></th>
                        <th><%= $.i18n.prop("Rank") %></th>
                        <th><%= $.i18n.prop("Institution") %></th>
                        <th><%= $.i18n.prop("Subject") %></th>
                        <th><%= $.i18n.prop("RegisterMemberExternal") %></th>
                        <th></th>
                    </tr>

                    </thead>
                    <tbody>
                    <!--  -->
                    </tbody>
                </table>
                <div class="btn-toolbar" id="actions">
                    <div class="btn-group">
                        <a id="toggleAddMember" class="btn btn-small">
                            <i class="icon-plus"></i> <%= $.i18n.prop('btn_add') %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
<div class="row-fluid">
    <div id="register-professor-list" class="span12 well">
    </div>
</div>
<div class="row-fluid">
    <div id="register-add-delete-professor-list" class="span12 well">
    </div>
</div>
<div class="form-actions">
    <a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save') %></a>
    <a id="remove" class="btn btn-danger"><i class="icon-remove icon-white"></i> <%= $.i18n.prop('btn_remove_register')
        %></a>
    <span class="help-block"><%= $.i18n.prop('SaveInstructions') %></span>
</div>
