<div class="row-fluid">
    <div class="span12">
        <h3><%= sector.id ? $.i18n.prop('edit_sector') : $.i18n.prop('create_sector') %></h3>

        <form class="form-horizontal" id="editSectorForm" onsubmit="return false">
            <fieldset>
                <% if (sector.id) { %>
                <div class="control-group">
                    <label class="control-label" for="sector_subject"><%= $.i18n.prop('Sector') %></label>

                    <div class="controls">
                        <input class="input-xxlarge" type="text" disabled id="sector_subject"
                               value="<%- sector.name[App.locale].subject  %>"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <% } %>
                <div class="control-group">
                    <label class="control-label" for="el_sector_subject"><%= $.i18n.prop('el_locale') %></label>

                    <div class="controls">
                        <input class="input-xxlarge" type="text" name="el_sector_subject" id="el_sector_subject"
                               value="<%- sector.name['el'].subject %>"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="en_sector_subject"><%= $.i18n.prop('en_locale') %></label>

                    <div class="controls">
                        <input class="input-xxlarge" type="text" name="en_sector_subject" id="en_sector_subject"
                               value="<%- sector.name['en'].subject %>"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="category"><%= $.i18n.prop('SectorCategory') %></label>

                    <div class="controls">
                        <select id="category" name="category" class="input-xlarge"></select><br/><br/>
                        <span class="help-block"></span>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <div class="form-actions">
                    <a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save')
                        %></a>
                </div>
            </fieldset>
        </form>
    </div>
</div>