<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3><%- title %></h3>
</div>
<div class="modal-body">
    <% if (statusHistoryList.length > 0) {  %>
        <table class="table table-bordered actionsHistoryTable">
            <thead>
            <tr>
                <th><%= $.i18n.prop("Date") %></th>
                <th><%= $.i18n.prop("Action") %></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(statusHistoryList, function(status) { %>
                <tr>
                    <td><%- status.date %></td>
                    <% if (status.action === 'SUBMIT') { %>
                         <td><%- $.i18n.prop('CandidacyStatusSUBMIT') %></td>
                    <% } else { %>
                        <td class="text-error"><%- $.i18n.prop('CandidacyStatusWITHDRAW') %></td>
                    <% } %>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>
            <span class="text-error"><%- $.i18n.prop('StatusActionsHistoryNotAvailable') %></span>
        </p>
    <% } %>
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal"><%- $.i18n.prop('btn_close') %></a>
</div>