<div class="row-fluid">
    <div class="span4">
    </div>
    <div class="span4">
        <fieldset>
            <div id="uploader">
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th>
                            <%= $.i18n.prop('csvFile') %>
                        </th>
                        <td>
                            <input type="file" name="file">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a id="upload" class="btn btn-small btn-primary"><i
                            class="icon-white icon-upload"></i> <%= $.i18n.prop('btn_upload') %></a>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="span4">
    </div>
</div>
</hr>
<div class="row-fluid">
    <div class="span12">
    </div>
</div>
<div id="domesticProfessors">
</div>

