<% if (id !== undefined) { %>
    <strong>
        <%= professor.user.firstname[App.locale] + " " +
        professor.user.lastname[App.locale] %>
    </strong>
    <br/>
    <%= $.i18n.prop(professor.discriminator) %>
    <br/>
    <% if (professor.discriminator === "PROFESSOR_DOMESTIC") { %>
        <%= $.i18n.prop('Institution') + ': ' +
        professor.department.school.institution.name[App.locale] %>
        <br/>
        <%= $.i18n.prop('School') + ': ' + professor.department.school.name[App.locale] %>
        <br/>
        <%= $.i18n.prop('Department') + ": " + professor.department.name[App.locale] %>
    <% } else { %>
         <%= $.i18n.prop('Institution') + ': ' + professor.institution %>
    <br/>
<% }
 } else { %>
        <%= $.i18n.prop('noChosenEvaluator') %>
    <% } %>
