<h3><%= $.i18n.prop('PositionNomination') %></h3>
<dl class="dl-glossary">
    <dt><%= $.i18n.prop('ProsklisiKosmitoraFile') %></dt>
    <dd>
        <div id="prosklisiKosmitoraFile"></div>
    </dd>
    <dt><%= $.i18n.prop('NominationCommitteeConvergenceDate') %></dt>
    <dd><%- nominationCommitteeConvergenceDate %></dd>
    <dt><%= $.i18n.prop('PraktikoEpilogisFile') %></dt>
    <dd>
        <div id="praktikoEpilogisFile"></div>
    </dd>
    <dt><%= $.i18n.prop('DiavivastikoPraktikouFile') %></dt>
    <dd>
        <div id="diavivastikoPraktikouFile"></div>
    </dd>
    <dt><%= $.i18n.prop('PraksiDiorismouFile') %></dt>
    <dd>
        <div id="praksiDiorismouFile"></div>
    </dd>
    <dt><%= $.i18n.prop('NominationFEK') %></dt>
    <dd><%- nominationFEK %></dd>

    <dt><%= $.i18n.prop('NominatedCandidacy') %></dt>
    <dd><%- _.isUndefined(nominatedCandidacy) ? undefined : nominatedCandidacy.snapshot.firstname[App.locale] + " " +
        nominatedCandidacy.snapshot.lastname[App.locale] %>
    </dd>
    <dt><%= $.i18n.prop('SecondNominatedCandidacy') %></dt>
    <dd><%- !_.isObject(secondNominatedCandidacy) ? undefined : secondNominatedCandidacy.snapshot.firstname[App.locale]
        + " " + secondNominatedCandidacy.snapshot.lastname[App.locale] %>
    </dd>

    <dt><%= $.i18n.prop('ApofasiAnapompisFile') %></dt>
    <dd>
        <div id="apofasiAnapompisFile"></div>
    </dd>
</dl>	