<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-bordered" width="100%">
            <thead>
            <tr id="filter">
                <th><input name="firstname" type="text" class="input-block-level"/></th>
                <th><input name="lastname" type="text" class="input-block-level"/></th>
                <th><input name="user" type="text" class="input-block-level"/></th>
                <th><select name="role" class="input-block-level">
                    <option value="">--</option>
                    <option value="PROFESSOR_DOMESTIC"><%= $.i18n.prop('PROFESSOR_DOMESTIC') %></option>
                    <option value="PROFESSOR_FOREIGN"><%= $.i18n.prop('PROFESSOR_FOREIGN') %></option>
                </select></th>
                <th><select name="rank" class="input-block-level">
                    <option value="">--</option>
                </select></th>
                <th><input name="institution" type="text" class="input-block-level"/></th>
                <th><input name="subject" type="text" class="input-block-level"/></th>
                <th><a id="search" class="btn"><%= $.i18n.prop('btn_search') %></a></th>
            </tr>
            <tr>
                <th><%= $.i18n.prop("Name") %></th>
                <th><%= $.i18n.prop("Surname") %></th>
                <th><%= $.i18n.prop("ID") %></th>
                <th><%= $.i18n.prop("Profile") %></th>
                <th><%= $.i18n.prop("Rank") %></th>
                <th><%= $.i18n.prop("Institution") %></th>
                <th><%= $.i18n.prop("Subject") %></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pull-right" id="details">
                        <a id="addSelected" class="btn btn-success"><%= $.i18n.prop('btn_addSelected') %> <span
                                id="displaySelected"></span></a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>