<h4><%- $.i18n.prop('changesToBeSaved') %></h4>
<div class="row-fluid">
    <div class="span6">
        <% if(professorsToBeAdded.length > 0) { %>
        <h4><%- $.i18n.prop('ProfessorsToBeAdded') %></h4>
        <ul>
            <% _.each(professorsToBeAdded, function(professor) { %>
            <li>
                <span>(<a href="#user/<%- professor.user.id %>" target="user"><%- professor.user.id %></a>)</span>
                <span><%- professor.user.firstname[App.locale] %></span>
                <span><%- professor.user.lastname[App.locale] %></span>
                <span>[ <a id="removeAddedMember" data-professor-id="<%- professor.id%>"> <%=
                    $.i18n.prop('btn_resetAdd') %> </a>]</span>
            </li>
            <% }); %>
        </ul>
        <% } %>
    </div>
    <div class="span6">
        <% if(professorsToBeDeleted.length > 0) { %>
        <h4><%- $.i18n.prop('ProfessorsToBeRemoved') %></h4>
        <ul>
            <% _.each(professorsToBeDeleted, function(professor) { %>
            <li>
                <span>(<a href="#user/<%- professor.user.id %>" target="user"><%- professor.user.id %></a>)</span>
                <span><%- professor.user.firstname[App.locale] %></span>
                <span><%- professor.user.lastname[App.locale] %></span>
                <span>[<a id="removeDeletedMember" data-professor-id="<%- professor.id%>"> <%=
                    $.i18n.prop('btn_resetRemove') %> </a>]</span>
            </li>
            <% }); %>
        </ul>
        <% } %>
    </div>
</div>