<h3><%= $.i18n.prop('Candidacy') %></h3>
<div class="row-fluid">
	<div class="span6" id="candidacy_position">
		<h4><%= $.i18n.prop('Position') %></h4>
		<dl class="dl-glossary">
			<dt><%= $.i18n.prop('PositionName') %></dt>
			<dd><%= candidacies.position.name %></dd>
			<dt><%= $.i18n.prop('Department') %></dt>
			<dd><%= candidacies.position.department.department %></dd>
			<dt><%= $.i18n.prop('Description') %></dt>
			<dd><%= candidacies.position.description %></dd>
			<dt><%= $.i18n.prop('Subject') %></dt>
			<dd><% if (!_.isUndefined(candidacies.position.subject)) { %><%= candidacies.position.subject.name %><% } %></dd>
			<dt><%= $.i18n.prop('FEK') %></dt>
			<dd><%= candidacies.position.fek %></dd>
			<dt><%= $.i18n.prop('FEKSentDate') %></dt>
			<dd><%= candidacies.position.fekSentDate %></dd>
			<dt><%= $.i18n.prop('PositionStatus') %></dt>
			<dd><%= $.i18n.prop('PositionStatus_' + candidacies.position.phase.clientStatus) %></dd>
			<dt><%= $.i18n.prop('PositionOpeningDate') %></dt>
			<dd><%= candidacies.openingDate %></dd>
			<dt><%= $.i18n.prop('PositionClosingDate') %></dt>
			<dd><%= candidacies.closingDate %></dd>
		</dl>
	</div>
	<div class="span6" id="candidacy_snapshot">
		<h4><%= $.i18n.prop('Candidate') %></h4>
		<dl class="dl-glossary">
			<dt><%= $.i18n.prop('Username') %></dt>
			<dd><%= snapshot.username %></dd>
			<dt><%= $.i18n.prop('Name') %></dt>
			<dd><%= snapshot.basicInfo.firstname %> (<%= snapshot.basicInfoLatin.firstname %>)</dd>
			<dt><%= $.i18n.prop('Surname') %></dt>
			<dd><%= snapshot.basicInfo.lastname %> (<%= snapshot.basicInfoLatin.lastname %>)</dd>
			<dt><%= $.i18n.prop('FatherName') %></dt>
			<dd><%= snapshot.basicInfo.fathername %> (<%= snapshot.basicInfoLatin.fathername %>)</dd>
			<% if (snapshot.institution) { %>
			<dt><%= $.i18n.prop('Institution') %></dt>
			<dd><%= snapshot.institution.name %></dd>
			<% } %> <% if (snapshot.institutionString) { %>
			<dt><%= $.i18n.prop('Institution') %></dt>
			<dd><%= snapshot.institutionString %></dd>
			<% } %> <% if (snapshot.department) { %>
			<dt><%= $.i18n.prop('Department') %></dt>
			<dd><%= snapshot.department.department %></dd>
			<% } %> <% if (snapshot.rank) { %>
			<dt><%= $.i18n.prop('Rank') %></dt>
			<dd><%= snapshot.rank.name %></dd>
			<% } %> <% if (snapshot.subject) { %>
			<dt><%= $.i18n.prop('Subject') %></dt>
			<dd><%= snapshot.subject.name %></dd>
			<% } %> <% if (snapshot.fek) { %>
			<dt><%= $.i18n.prop('FEK') %></dt>
			<dd><%= snapshot.fek %></dd>
			<% } %> <% if (snapshot.fekSubject) { %>
			<dt><%= $.i18n.prop('FEKSubject') %></dt>
			<dd><%= snapshot.fekSubject.name %></dd>
			<% } %>
			<dt><%= $.i18n.prop('BiografikoFile') %></dt>
			<dd>
				<span id="biografikoFile"></span>
			</dd>
			<dt><%= $.i18n.prop('PtyxioFileList') %></dt>
			<dd>
				<span id="ptyxioFileList"></span>
			</dd>
			<dt><%= $.i18n.prop('DimosieusiFileList') %></dt>
			<dd>
				<span id="dimosieusiFileList"></span>
			</dd>
		</dl>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h4><%= $.i18n.prop('ProposedEvaluators') %></h4>
		<dl class="dl-glossary">
			<dt><%= $.i18n.prop('ProposedEvaluator') %> 1</dt>
			<dd><%= proposedEvaluators[0]? (proposedEvaluators[0].fullname + " " + proposedEvaluators[0].email) : '-'%></dd>
			<dt><%= $.i18n.prop('ProposedEvaluator') %> 2</dt>
			<dd><%= proposedEvaluators[1]? (proposedEvaluators[1].fullname + " " + proposedEvaluators[1].email) : '-'%></dd>
			<dt><%= $.i18n.prop('EkthesiAutoaksiologisisFile') %></dt>
			<dd>
				<span id="ekthesiAutoaksiologisisFile"></span>
			</dd>
			<dt><%= $.i18n.prop('SympliromatikaEggrafaFileList') %></dt>
			<dd>
				<span id="sympliromatikaEggrafaFileList"></span>
			</dd>
		</dl>
	</div>
</div>