<table>
	<% if (!_.isUndefined(id)) { %>
	<tr>
		<td colspan="3"><%= id %>, <a href='/rest/file/<%= id %>' target="viewfile"><%= currentBody.originalFilename %></a>, <%= currentBody.fileSize %> bytes, <%= currentBody.date %>
		</td>
	</tr>
	<% } %>
	<tr>
		<td class="list" colspan="2"></td>
		<td class="progress"></td>
	</tr>
	<tr class="uploader">
		<td><input type="file" class="upload" name="<%= name %>" /></td>
		<td><a href="javascript:void(0)" id="upload" class="button"><%= $.i18n.prop('btn_upload') %></a></td>
		<td><a href="javascript:void(0)" id="delete" class="button"><%= $.i18n.prop('btn_delete') %></a></td>
	</tr>
</table>