<table class="file-table-edit">
<thead>
	<tr>
		<th width="1px">#</th>
		<th><%= $.i18n.prop('FileName') %></th>
		<th><%= $.i18n.prop('FileSize') %></th>
		<th><%= $.i18n.prop('FileDate') %></th>
<% if (withMetadata) { %>
		<th><%= $.i18n.prop('FileDescription') %></th>
<% } %>
		<th width="1px"></th>
	</tr>
</thead>
<tbody>
<% var row = 1; %>
<% _.each(files, function(file) { %>
<% if (!_.isUndefined(file.id)) { %>
<tr>
		<td width="1px"><%= row++ %></td>
		<td>
	<% if (withMetadata && file.name) { %>
			<a href='<%= file.currentBody.url %>' target="viewfile"><%= file.name %>, (<%= file.currentBody.originalFilename %>)</a>
	<% } else { %>
			<a href='<%= file.currentBody.url %>' target="viewfile"><%= file.currentBody.originalFilename %></a>
	<% } %>	
		</td>
		<td>
			<%= App.utils.formatFileSize(file.currentBody.fileSize) %>
		</td>
		<td>
			<%= file.currentBody.date %>
		</td>
	<% if (withMetadata) { %>
		<td><%= file.description %></td>
	<% } %>
	<% if (editable) { %>
		<td width="1px">
			<a id="delete" data-file-id="<%= file.id %>" class="btn btn-small btn-danger pull-right" rel="tooltip" title="<%= $.i18n.prop('btn_delete') %>"><i class="icon-trash icon-white"></i></a>
		</td>
	</tr>
	<% } %>
<% } %>
<% }); %>
</tbody>
<tfoot>
<% if (editable) { %>
	<tr>
		<td colspan="<%= withMetadata ? 5 : 4%>"></td>
		<td>
			<a id="toggleUpload" class="btn btn-small pull-right"  rel="tooltip" title="<%= $.i18n.prop('btn_add_file') %>" ><i class="icon-plus"></i></a>
		</td>
	</tr>
<% } %>
</tfoot>
</table>
<div id="uploader" class="modal fade">
	<div class="modal-header">
 		<h3><%= $.i18n.prop('FileUploadForm') %></h3>
	</div>
	<div class="modal-body">
		<table class="table table-striped table-bordered">
			<tr>
				<th>
					<%= $.i18n.prop('File') %> 
				</th>
				<td>
					<input type="hidden" name="file_type" value="<%= type %>" />
					<input type="file" name="file" />
				</td>
			</tr>
			<% if (withMetadata) { %>
			<tr>	
				<th>
					<%= $.i18n.prop('FileName') %> 
				</th>
				<td>
					<input type="text" name="file_name" class="input-large" value="" />
				</td>
			</tr>
			<tr>
				<th>
					<%= $.i18n.prop('FileDescription') %>
				</th>
				<td>
					<textarea name="file_description" rows="3" class="input-large"></textarea>
				</td>
			</tr>
			<% } %>
		</table>
	</div>
	<div class="modal-footer">
		<div class="pull-right">
			<a id="upload" class="btn btn-primary btn-small"><i class="icon-white icon-upload"></i> <%= $.i18n.prop('btn_upload') %></a>
			<a id="close" class="btn btn-small"><i class="icon-remove-circle"></i> <%= $.i18n.prop('btn_cancel') %></a>
 		</div>
 		<div class="progress">
			<div class="bar" style="width: 0%;"></div>
		</div>
	</div>
</div>