<table class="file-table">
<tbody>
<% var row = 1; %>
<% _.each(files, function(file) { %>
<% if (!_.isUndefined(file.id)) { %>
	<tr id="info">
		<td><span class="badge"><%= row++ %></span></td>
		<td><a href='<%= file.currentBody.url %>' target="viewfile"> <%= file.currentBody.originalFilename %></a>, <%= App.utils.formatFileSize(file.currentBody.fileSize) %>, <%= file.currentBody.date %></td>
<% if (withMetadata) { %>		
		<td><%= file.name %></td>
		<td><%= file.description %></td>
<% } %>	
		<td>
			<a id="delete" data-file-id="<%= file.id %>" class="btn btn-small btn-danger pull-right"><i class="icon-trash icon-white"></i> <%= $.i18n.prop('btn_delete') %></a>
		</td>
	</tr>
<% } %>
<% }); %>
</tbody>
<tfoot>
	<tr>
		<td colspan="<%= withMetadata ? 4 : 2%>"></td>
		<td>
			<a id="toggleUpload" class="btn btn-small pull-right"><i class="icon-plus"></i> <%= $.i18n.prop('btn_add_file') %></a>
		</td>
	</tr>
</tfoot>
</table>
<div id="uploader" class="modal fade">
	<div class="modal-header">
 		<button type="button" class="close" data-dismiss="modal">×</button>
 		<h3><%= $.i18n.prop('FileUploadForm') %></h3>
	</div>
	<div class="modal-body">
		<table class="table table-striped table-bordered">
			<tr>
				<th>
					<%= $.i18n.prop('File') %> 
				</th>
				<td>
					<input type="hidden" name="file_type" value="<%= type %>" />
					<input type="file" name="file" />
				</td>
			</tr>
			<% if (withMetadata) { %>
			<tr>	
				<th>
					<%= $.i18n.prop('FileName') %> 
				</th>
				<td>
					<input type="text" name="file_name" class="input-large" value="" />
				</td>
			</tr>
			<tr>
				<th>
					<%= $.i18n.prop('FileDescription') %>
				</th>
				<td>
					<textarea name="file_description" rows="3" class="input-large"></textarea>
				</td>
			</tr>
			<% } %>
		</table>
	</div>
	<div class="modal-footer">
		<div class="progress">
			<div class="bar" style="width: 0%;"></div>
		</div>
 		<a id="upload" class="btn btn-primary btn-small pull-right"><i class="icon-white icon-upload"></i> <%= $.i18n.prop('btn_upload') %></a>
	</div>
</div>