<thead>
    <tr>
      <th><%= $.i18n.prop("fileName") %></th>
      <th width="70px"><%= $.i18n.prop("fileSize") %></th>
      <th width="140px"><%= $.i18n.prop("fileDate") %></th>
      <th width="100px"><%= $.i18n.prop("fileOptions") %></th>
    </tr>
</thead>
<tbody>
<% _.each(files, function(file) { %> 
<% if (!_.isUndefined(file.id)) { %>
<tr>
	<td><a href='/rest/file/<%= file.id %>' target="viewfile"><%= file.currentBody.originalFilename %></a></td>
	<td width="70px"><p align="right"><%= formatFileSize(file.currentBody.fileSize) %></p></td>
	<td width="140px"><p align="right"><%= formatDate(new Date(file.currentBody.date), "dd/mm/yyyy hh:nn:ss") %></p></td>
	<td width="100px">
		<p align="center">
			<a href="javascript:void(0)" id="delete" fileId="<%= file.id %>" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i> <%= $.i18n.prop('btn_delete') %></a>
		</p>
	</td>
</tr>
<% } %>
<% }); %>
<tr>
	<td colspan="4">
		<a href="javascript:void(0)" id="upload" class="btn"><i class="icon-upload"></i>  <%= $.i18n.prop('btn_upload') %></a>
		<div class="modal fade">
  			<div class="modal-header">
    			<button class="close" data-dismiss="modal">×</button>
  			</div>
  			<div class="modal-body uploader"></div>
  			<div class="modal-footer"></div>
		</div>
	</td>
</tr>
</tbody>