<table class="file-table">
<thead>
	<tr>
		<th width="1px"></th>
		<th><%= $.i18n.prop('FileName') %></th>
		<th><%= $.i18n.prop('FileSize') %></th>
		<th><%= $.i18n.prop('FileDate') %></th>
<% if (withMetadata) { %>
		<th><%= $.i18n.prop('FileDescription') %></th>
<% } %>
		<th width="1px"></th>
	</tr>
</thead>
<tbody>
<% var row = 1; %>
<% _.each(files, function(file) { %>
<% if (!_.isUndefined(file.id)) { %>
<tr>
		<td width="1px"><span class="badge"><%= row++ %></span></td>
		<td>
	<% if (withMetadata && file.name) { %>
			<a href='<%= file.currentBody.url %>' target="viewfile"><%= file.name %>, (<%= file.currentBody.originalFilename %>)</a>
	<% } else { %>
			<a href='<%= file.currentBody.url %>' target="viewfile"><%= file.currentBody.originalFilename %></a>
	<% } %>	
		</td>
		<td>
			<%= App.utils.formatFileSize(file.currentBody.fileSize) %>
		</td>
		<td>
			<%= file.currentBody.date %>
		</td>
	<% if (withMetadata) { %>
		<td><%= file.description %></td>
	<% } %>
<% } %>
<% }); %>
</tbody>
</table>