<div class="row-fluid">
	<div class="span2">
		<img src="./css/images/apella_logo.png"/>
	</div>
	<div class="span10" id="homeMenu">
		<% _.each(tiles, function(tilecol, row) { %>
			<div class="row-fluid">
			<% _.each(tilecol, function(tile, col) { %>
			<div class="span4 tile <%= ((row + col)%2 == 0) ? 'solid-tiledark' : 'solid-tilelight'  %> shadow-black">
				<a href="#<%= tile.link %>">
					<img src="css/images/tile-icon.png" alt="" />
					<span><small><%= $.i18n.prop("menu_" + tile.link) %></small></span>
				</a>
			</div>
			<% }); %>
			</div>
		<% }); %>
	</div>
</div>