<script type="html/template" id="login-main">
<div class="span6">
	<h2><%= $.i18n.prop('Login') %></h2>
	<form class="form-horizontal" onsubmit="return false">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="username"><%= $.i18n.prop('Username') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="email" name="username" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password"><%= $.i18n.prop('Password') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="password" name="password" />
				</div>
			</div>
			<div class="form-actions">
				<a id="save" href="javascript:void(0)" class="btn btn-primary"><%= $.i18n.prop('btn_login') %></a>
			</div>
		</fieldset>
	</form>
</div>
<div class="span6">
	<h2><%= $.i18n.prop('Instructions') %></h2>
	<p><%= $.i18n.prop('Instructions_Login') %></p>
	<p>
		<a href="registration.html"><%= $.i18n.prop('Register') %></a>
	</p>
	<p>
		<a href="/dep/rest/user/shibbolethLogin?nextURL=/depui"><%= $.i18n.prop('ShibbolethLogin') %></a>
	</p>
</div>
</script>