<h4><%= $.i18n.prop('PositionCandidacyList') %></h4>
<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= $.i18n.prop("Name") %></th>
			<th><%= $.i18n.prop("Surname") %></th>
			<th><%= $.i18n.prop("FatherName") %></th>
			<th width="96px"></th>
		</tr>
	</thead>
	<tbody>
<% _.each(candidacies, function(candidacy) { %>
		<tr>
			<td><%= candidacy.snapshot.basicInfo.firstname %> (<%= candidacy.snapshot.basicInfoLatin.firstname %>)</td>
			<td><%= candidacy.snapshot.basicInfo.lastname %> (<%= candidacy.snapshot.basicInfoLatin.lastname %>)</td>
			<td><%= candidacy.snapshot.basicInfo.fathername %> (<%= candidacy.snapshot.basicInfoLatin.fathername %>)</td>
			<td width="96px">
			<% if (candidacy.allowedToSee) { %>
				<p align="center">
					<a id="viewCandidacy" href="#candidacy/<%= candidacy.id %>" data-candidacy-id="<%= candidacy.id %>"><%= $.i18n.prop('btn_view') %></a>
				</p>
			<% } %>
			</td>
		</tr>
<% }); %>
	</tbody>
</table>
<% if (showEvaluators) { %>
<div class="row-fluid">
	<div class="span12">
		<h4><%= $.i18n.prop('EisigisiDEPYpopsifiouFileList') %>:</h4>
		<ul>
		<% _.each(candidacies, function(candidacy) { %>
			<li>
				<strong><%= candidacy.snapshot.basicInfo.firstname %> (<%= candidacy.snapshot.basicInfoLatin.firstname %>) <%= candidacy.snapshot.basicInfo.lastname %> (<%= candidacy.snapshot.basicInfoLatin.lastname %>), <%= candidacy.snapshot.basicInfo.fathername %> (<%= candidacy.snapshot.basicInfoLatin.fathername %>)</strong>
				<ul class="unstyled">
					<% _.each(candidacy.proposedEvaluators, function(proposedEvaluator, index) { %>
					<li>
						<i><%= $.i18n.prop("ProposedEvaluator") %> <%= index + 1 %>: </i><%= proposedEvaluator.fullname %>
						<div id="eisigisiDepYpopsifiouFileList" data-candidacy-evaluator-id="<%= proposedEvaluator.id %>"></div>
					</li>
					<% }); %>
				</ul>
			</li>
		<% }); %>
		</ul>
	</div>
</div>
<% } %>