<form class="form-horizontal" onsubmit="return false">	
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="eisigisiDEPYpopsifiouFileList"><%= $.i18n.prop('EisigisiDEPYpopsifiouFileList') %>:</label>
			<div class="controls">
				<input type="hidden" name="eisigisiDEPYpopsifiouFileList" />
			</div>
		</div>
	</fieldset>
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="dioikitikoEggrafoFileList"><%= $.i18n.prop('DioikitikoEggrafoFileList') %>:</label>
			<div class="controls">
				<input type="hidden" name="dioikitikoEggrafoFileList" />
			</div>
		</div>
	</fieldset>
</form>