<tr id="positionCommitteeMember">
	<td width="1px">
		<input type="hidden" name="registerMemberId" value="<%= registerMember.id %>">
		<select class="input-medium" name="type">
			<% if (_.isEqual(type, "REGULAR")) { %>
			<option value="REGULAR" selected><%= $.i18n.prop("PositionCommitteeMemberTypeREGULAR") %></option>
			<option value="SUBSTITUTE"><%= $.i18n.prop("PositionCommitteeMemberTypeSUBSTITUTE") %></option>
			<% } else if (_.isEqual(type, "SUBSTITUTE")) { %>
			<option value="REGULAR"><%= $.i18n.prop("PositionCommitteeMemberTypeREGULAR") %></option>
			<option value="SUBSTITUTE" selected><%= $.i18n.prop("PositionCommitteeMemberTypeSUBSTITUTE") %></option> 
			<% } %>
		</select>
	</td>
	<td width="1px">
		<a id="viewMember" href="#user/<%= registerMember.professor.user.id %>"><%= registerMember.professor.user.id %> </a>
	</td>
	<td><%= registerMember.external ? $.i18n.prop("RegisterMemberExternal") : $.i18n.prop("RegisterMemberInternal") %></td>
	<td><%= registerMember.professor.user.basicInfo.firstname %></td>
	<td><%= registerMember.professor.user.basicInfo.lastname%></td>
	<td><%= $.i18n.prop(registerMember.professor.discriminator) %></td>
	<td>
		<% if (_.isObject(registerMember.professor.institution)) { %> 
			<%= registerMember.professor.institution.name %>
		<% } else if (!_.isUndefined(registerMember.professor.institution)) { %> 
			<%= registerMember.professor.institution %> 
		<% } %>
	</td>
	<td>
		<% if (_.isObject(registerMember.professor.department)) { %> 
			<%= registerMember.professor.department.department %> 
		<% } %>
	</td>
	<td width="120px">
		<a id="removeMember" class="btn btn-mini btn-danger"><i class="icon-minus icon-white"></i> <%= $.i18n.prop('btn_remove_member') %></a>
	</td>
</tr>