<h4><%= $.i18n.prop('PositionNomination') %></h4>
<dl class="dl-glossary">
	<dt><%= $.i18n.prop('ProsklisiKosmitoraFile') %></dt>
	<dd>
		<span id="prosklisiKosmitoraFile"></span>
	</dd>
	<dt><%= $.i18n.prop('NominationCommitteeConvergenceDate') %></dt>
	<dd><%= nominationCommitteeConvergenceDate %></dd>
	<dt><%= $.i18n.prop('PraktikoEpilogisFile') %></dt>
	<dd>
		<span id="praktikoEpilogisFile"></span>
	</dd>
	<dt><%= $.i18n.prop('DiavivastikoPraktikouFile') %></dt>
	<dd>
		<span id="diavivastikoPraktikouFile"></span>
	</dd>
	<dt><%= $.i18n.prop('PraksiDiorismouFile') %></dt>
	<dd>
		<span id="praksiDiorismouFile"></span>
	</dd>
	<dt><%= $.i18n.prop('NominationFEK') %></dt>
	<dd><%= nominationFEK %></dd>
	
	<dt><%= $.i18n.prop('NominatedCandidacy') %></dt>
	<dd><%= _.isUndefined(nominatedCandidacy) ? undefined : nominatedCandidacy.snapshot.username %></dd>
	
	<dt><%= $.i18n.prop('SecondNominatedCandidacy') %></dt>
	<dd><%= !_.isObject(secondNominatedCandidacy) ? undefined : secondNominatedCandidacy.snapshot.username %></dd>
	
	<dt><%= $.i18n.prop('ApofasiAnapompisFile') %></dt>
	<dd>
		<span id="apofasiAnapompisFile"></span>
	</dd>
</dl>	