<div class="row-fluid">
	<div class="span12">
		<h3><%= $.i18n.prop('Position') %></h3>
		<div class="btn-group pull-right">
 			<a class="btn dropdown-toggle" data-toggle="dropdown">
				<%= $.i18n.prop('OtherPhases') %>
				<span class="caret"></span>
			</a>
	  		<ul class="dropdown-menu">
			<% _.each(phasesMap, function(value, key) { %>
				<% if ("" + key === "" + phase.order) { %>
					<li><a tabindex="-1"><i class="icon-eye-close"></i> <%= $.i18n.prop('PositionStatus_' + value) %></a></li>
				<% } else { %>
					<li><a tabindex="-1" href="#position/<%= id %>/<%= key %>"><i class="icon-eye-open"></i> <%= $.i18n.prop('PositionStatus_' + value) %></a></li>				
				<% } %>
			<% }); %>
			</ul>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<h4><%= name %></h4>
		<dl class="dl-glossary">
			<dt><%= $.i18n.prop('Department') %></dt>
			<dd><%= department.department %></dd>
			<dt><%= $.i18n.prop('Description') %></dt>
			<dd><%= description %></dd>
			<dt><%= $.i18n.prop('Subject') %></dt>
			<dd><% if (!_.isUndefined(subject)) { %><%= subject.name %><% } %></dd>
			<dt><%= $.i18n.prop('FEK') %></dt>
			<dd>
				<a href="<%= fek %>" target="external"><%= $.i18n.prop('ClickForMore') %></a>
			</dd>
			<dt><%= $.i18n.prop('FEKSentDate') %></dt>
			<dd><%= fekSentDate %></dd>
		</dl>
	</div>
	<div class="span6">
		<h4><%= $.i18n.prop('PositionDates') %></h4>
		<dl class="dl-glossary">
			<dt><%= $.i18n.prop('PositionStatus') %></dt>
			<dd><%= $.i18n.prop('PositionStatus_' + phase.clientStatus) %></dd>
			<dt><%= $.i18n.prop('PositionOpeningDate') %></dt>
			<dd><%= phase.candidacies.openingDate %></dd>
			<dt><%= $.i18n.prop('PositionClosingDate') %></dt>
			<dd><%= phase.candidacies.closingDate %></dd>
		</dl>
	</div>
</div>
<div class="row-fluid" id="positionCandidacies">
</div>
<div class="row-fluid" id="positionCommittee">
</div>
<div class="row-fluid" id="positionEvaluation">
</div>
<div class="row-fluid" id="positionNomination">
</div>
<div class="row-fluid" id="positionComplementaryDocuments">
</div>
<% if (createdBy.id) { %>
<div class="row-fluid" id="createdBy">
	<div class="span4">
		<p>
			<b><%= $.i18n.prop('PositionCreatedBy') %></b><br/>
			<%= createdBy.basicInfo.firstname %> <%= createdBy.basicInfo.lastname %> <%= createdBy.basicInfo.fathername %><br/> 
			<%= _.isUndefined("createdBy.basicInfoLatin.firstname")? "" :  createdBy.basicInfoLatin.firstname %> <%= _.isUndefined("createdBy.basicInfoLatin.lastname")? "" :  createdBy.basicInfoLatin.lastname %> <%= _.isUndefined("createdBy.basicInfoLatin.fathername")? "" :  createdBy.basicInfoLatin.fathername %>
		</p>
	</div>
	<div class="span4">
		<p>
			<b><%= $.i18n.prop('ContactInformation') %></b><br/>
			<em><%= $.i18n.prop('Email') %>:</em> <%= createdBy.contactInfo.email %>,<br/>
			<em><%= $.i18n.prop('Mobile') %>:</em> <%= createdBy.contactInfo.mobile %>,<br/>
			<em><%= $.i18n.prop('Phone') %>:</em> <%= createdBy.contactInfo.phone %>
		</p>
	</div>
	<div class="span4">
		<p>
			<b><%= $.i18n.prop('Address') %></b><br/>
			<em><%= $.i18n.prop('Street') %>:</em> <%= createdBy.contactInfo.address.street %>,<br/>
			<em><%= $.i18n.prop('StreetNumber') %>:</em> <%= createdBy.contactInfo.address.number %>,<br/>
			<em><%= $.i18n.prop('Zip') %>:</em> <%= createdBy.contactInfo.address.zip %>,<br/>
			<em><%= $.i18n.prop('City') %>:</em> <%= createdBy.contactInfo.address.city %>,<br/>
			<em><%= $.i18n.prop('Country') %>:</em> <%= createdBy.contactInfo.address.country %>
		</p>
	</div>
</div>
<% } %>