<div class="row-fluid">
	<div class="span12">
		<div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown">
				<%= $.i18n.prop('OtherPhases') %>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<% _.each(phasesMap, function(value, key) { %>
				<% if ("" + key === "" + phase.order) { %>
				<li><a tabindex="-1"><i class="icon-eye-close"></i> <%= $.i18n.prop('PositionStatus_' + value) %></a>
				</li>
				<% } else { %>
				<li><a tabindex="-1" href="#position/<%= id %>/<%= key %>"><i class="icon-eye-open"></i> <%=
					$.i18n.prop('PositionStatus_' + value) %></a></li>
				<% } %>
				<% }); %>
			</ul>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<h3><%= $.i18n.prop('PositionMain') %>: <%= name %></h3>
		<dl class="dl-glossary">
			<dt><%= $.i18n.prop('PositionID') %></dt>
			<dd><%= App.utils.formatPositionID(id) %></dd>
			<dt><%= $.i18n.prop('Title') %></dt>
			<dd><%= name %></dd>
			<dt><%= $.i18n.prop('Department') %></dt>
			<dd><%= _.templates.department(department) %></dd>
			<dt><%= $.i18n.prop('Description') %></dt>
			<dd><%= description %></dd>
			<dt><%= $.i18n.prop('Subject') %></dt>
			<dd><% if (!_.isUndefined(subject)) { %><%= subject.name %><% } %></dd>
			<dt><%= $.i18n.prop('FEK') %></dt>
			<dd>
				<a href="<%= fek %>" target="external"><%= $.i18n.prop('ClickForMore') %></a>
			</dd>
			<dt><%= $.i18n.prop('FEKSentDate') %></dt>
			<dd><%= fekSentDate %></dd>
		</dl>
	</div>
	<div class="span6">
		<h3><%= $.i18n.prop('PositionDates') %></h3>
		<dl class="dl-glossary">
			<dt><%= $.i18n.prop('PositionStatus') %></dt>
			<dd><%= $.i18n.prop('PositionStatus_' + phase.clientStatus) %></dd>
			<dt><%= $.i18n.prop('PositionOpeningDate') %></dt>
			<dd><%= phase.candidacies.openingDate %></dd>
			<dt><%= $.i18n.prop('PositionClosingDate') %></dt>
			<dd><%= phase.candidacies.closingDate %></dd>
		</dl>
	</div>
</div>
<div class="row-fluid" id="positionCandidacies">
</div>
<div class="row-fluid" id="positionCommittee">
</div>
<div class="row-fluid" id="positionEvaluation">
</div>
<div class="row-fluid" id="positionNomination">
</div>
<div class="row-fluid" id="positionComplementaryDocuments">
</div>
<div class="row-fluid" id="createdBy">
	<div class="span12">
		<%= $.i18n.prop('PositionContactInfo') %>:
		<ul>
			<% if (manager.id) { %>
			<li>
				<b>
					<%= manager.user.basicInfo.firstname %> <%= manager.user.basicInfo.lastname %>
				</b>
				(<%= $.i18n.prop('INSTITUTION_MANAGER') %>),
				<%= $.i18n.prop('Email') %>: <%= manager.user.contactInfo.email %>,
				<i><%= $.i18n.prop('Phone') %>:</i> <%= manager.user.contactInfo.phone %>
			</li>
			<li>
				<b>
					<%= manager.alternateBasicInfo.firstname %> <%= manager.alternateBasicInfo.lastname %>
				</b>
				(<%= $.i18n.prop('AlternateInstitutionManager') %></b>),
				<i><%= $.i18n.prop('Email') %>:</i> <%= manager.alternateContactInfo.email %>,
				<i><%= $.i18n.prop('Phone') %>:</i> <%= manager.alternateContactInfo.phone %>
			</li>
			</li>
			<% } %>
			<% console.log(createdBy.id, manager.user.id); %>
			<% if (createdBy.id && !_.isEqual(createdBy.id, manager.user.id)) { %>
			<li>
				<b>
					<%= createdBy.basicInfo.firstname %> <%= createdBy.basicInfo.lastname %>
				</b>
				(<%= $.i18n.prop(createdBy.primaryRole) %>),
				<%= $.i18n.prop('Email') %>: <%= createdBy.contactInfo.email %>,
				<i><%= $.i18n.prop('Phone') %>:</i> <%= createdBy.contactInfo.phone %>
			</li>
			<% } %>
			<% _.each(assistants, function(assistant) { %>
			<li>
				<b>
					<%= assistant.basicInfo.firstname %> <%= assistant.basicInfo.lastname %>
				</b>
				(<%= $.i18n.prop(assistant.primaryRole) %>)
				<%= $.i18n.prop('Email') %>: <%= assistant.contactInfo.email %>,
				<i><%= $.i18n.prop('Phone') %>:</i> <%= assistant.contactInfo.phone %>
			</li>
			<% }); %>
		</ul>
	</div>
</div>