<h4><%= $.i18n.prop('PositionCommittee') %></h4>
<dl class="dl-glossary">
	<dt><%= $.i18n.prop('ApofasiSystasisEpitropisFileList') %></dt>
	<dd>
		<span id="apofasiSystasisEpitropisFileList"></span>
	</dd>
	<dt><%= $.i18n.prop('PositionCommittee') %></dt>
	<dd></dd>
</dl>
<span id="positionCommittee"></span>
<dl class="dl-glossary">
	<dt><%= $.i18n.prop('CommitteeMeetingDate') %></dt>
	<dd><%= phase.committee ? phase.committee.committeeMeetingDate : undefined %></dd>
	<dt><%= $.i18n.prop('PraktikoSynedriasisEpitropisGiaAksiologitesFile') %></dt>
	<dd>
		<span id="praktikoSynedriasisEpitropisGiaAksiologitesFile"></span>
	</dd>
	<dt><%= $.i18n.prop('AitimaEpitropisProsAksiologitesFile') %></dt>
	<dd>
		<span id="aitimaEpitropisProsAksiologitesFile"></span>
	</dd>
</dl>