<h4><%= $.i18n.prop('PositionCandidacyList') %></h4>
<table class="table table-bordered">
	<thead>
		<tr>
			<th><%= $.i18n.prop("Username") %></th>
			<th><%= $.i18n.prop("Name") %></th>
			<th><%= $.i18n.prop("Surname") %></th>
			<th><%= $.i18n.prop("FatherName") %></th>
			<th width="96px"></th>
		</tr>
	</thead>
	<tbody>
<% _.each(candidacies, function(candidacy) { %>
		<tr>
			<td><%= candidacy.snapshot.username %></td>
			<td><%= candidacy.snapshot.basicInfo.firstname %> (<%= candidacy.snapshot.basicInfoLatin.firstname %>)</td>
			<td><%= candidacy.snapshot.basicInfo.lastname %> (<%= candidacy.snapshot.basicInfoLatin.lastname %>)</td>
			<td><%= candidacy.snapshot.basicInfo.fathername %> (<%= candidacy.snapshot.basicInfoLatin.fathername %>)</td>
			<td width="96px">
				<p align="center">
					<a id="viewCandidacy" data-candidacy-id="<%= candidacy.id %>" class="btn btn-mini"><i class="icon-eye-open"></i> <%= $.i18n.prop('btn_view') %></a>
				</p>
			</td>
		</tr>
<% }); %>
	</tbody>
</table>