<h3><%= $.i18n.prop('PositionCommittee') %></h3>
<dl class="dl-glossary">
	<dt><%= $.i18n.prop('ApofasiSystasisEpitropisFileList') %></dt>
	<dd>
		<div id="apofasiSystasisEpitropisFileList"></div>
	</dd>
	<dt><%= $.i18n.prop('PositionCommittee') %></dt>
	<dd></dd>
</dl>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th><%= $.i18n.prop("PositionCommitteeMemberType") %></th>
			<th><%= $.i18n.prop("ID") %></th>
			<th><%= $.i18n.prop("RegisterMemberExternal") + " / " + $.i18n.prop("RegisterMemberInternal") %></th>
			<th><%= $.i18n.prop("Name") %></th>
			<th><%= $.i18n.prop("Surname") %></th>
			<th><%= $.i18n.prop("Profile") %></th>
			<th><%= $.i18n.prop("Institution") %></th>
		</tr>
	</thead>
	<tbody>
	<% _.each(members, function(member) { %>
	<tr id="positionCommitteeMember">
		<td width="1px"><%= $.i18n.prop("PositionCommitteeMemberType" + member.type) %>
		</td>
		<td width="1px">
		<% if (_.isEqual(member.access, "READ_FULL")) { %>
			<a id="viewMember" href="#user/<%= member.registerMember.professor.user.id %>"><%= member.registerMember.professor.user.id %> </a>
		<% } else { %>
			<%= member.registerMember.professor.user.id %>
		<% } %>
		</td>
		<td><%= member.external ? $.i18n.prop("RegisterMemberExternal") : $.i18n.prop("RegisterMemberInternal") %></td>
		<td><%= member.registerMember.professor.user.basicInfo.firstname %></td>
		<td><%= member.registerMember.professor.user.basicInfo.lastname%></td>
		<td><%= $.i18n.prop(member.registerMember.professor.discriminator) %></td>
		<td>
			<% if (!_.isUndefined(member.registerMember.professor.institution)) { %>
			<%= member.registerMember.professor.institution %>
			<% } else if (_.isObject(member.registerMember.professor.department)) { %>
			<%= _.templates.department(member.registerMember.professor.department) %>
			<% } %>
		</td>
	</tr>
	<% }); %>
	</tbody>
</table>
<dl class="dl-glossary">
	<dt><%= $.i18n.prop('CandidacyEvalutionsDueDate') %></dt>
	<dd><%= candidacyEvalutionsDueDate %></dd>
	<dt><%= $.i18n.prop('CommitteeMeetingDate') %></dt>
	<dd><%= committeeMeetingDate %></dd>
	<dt><%= $.i18n.prop('PraktikoSynedriasisEpitropisGiaAksiologitesFile') %></dt>
	<dd>
		<div id="praktikoSynedriasisEpitropisGiaAksiologitesFile"></div>
	</dd>
	<dt><%= $.i18n.prop('AitimaEpitropisProsAksiologitesFile') %></dt>
	<dd>
		<div id="aitimaEpitropisProsAksiologitesFile"></div>
	</dd>
</dl>