<div class="row-fluid">
	<div class="span12">
		<label><%= $.i18n.prop('Register') %>: </label>
		<select name="register"></select><a id="selectRegister" class="btn btn-success"><%= $.i18n.prop('btn_select') %></a>
	</div>
</div>
<hr/>
<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-bordered">
			<thead>
			<tr>
				<th></th>
				<th><%= $.i18n.prop("ID") %></th>
				<th><%= $.i18n.prop("RegisterMemberExternal") + "/" + $.i18n.prop("RegisterMemberInternal") %></th>
				<th><%= $.i18n.prop("Name") %></th>
				<th><%= $.i18n.prop("Surname") %></th>
				<th><%= $.i18n.prop("Profile") %></th>
				<th><%= $.i18n.prop("Institution") %></th>
				<th><%= $.i18n.prop("Committees") %></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="8">
					<div class="btn-toolbar pull-right" id="details">
						<a id="addMembers" class="btn btn-success"><%= $.i18n.prop('btn_addSelected') %></a>
					</div>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>