<h4><%= $.i18n.prop('PositionNomination') %></h4>
<dl class="dl-glossary">
	<dt><%= $.i18n.prop('ProsklisiKosmitoraFile') %></dt>
	<dd>
		<div id="prosklisiKosmitoraFile"></div>
	</dd>
	<dt><%= $.i18n.prop('NominationCommitteeConvergenceDate') %></dt>
	<dd><%= nominationCommitteeConvergenceDate %></dd>
	<dt><%= $.i18n.prop('PraktikoEpilogisFile') %></dt>
	<dd>
		<div id="praktikoEpilogisFile"></div>
	</dd>
	<dt><%= $.i18n.prop('DiavivastikoPraktikouFile') %></dt>
	<dd>
		<div id="diavivastikoPraktikouFile"></div>
	</dd>
	<dt><%= $.i18n.prop('PraksiDiorismouFile') %></dt>
	<dd>
		<div id="praksiDiorismouFile"></div>
	</dd>
	<dt><%= $.i18n.prop('NominationFEK') %></dt>
	<dd><%= nominationFEK %></dd>
	
	<dt><%= $.i18n.prop('NominatedCandidacy') %></dt>
	<dd><%= _.isUndefined(nominatedCandidacy) ? undefined : nominatedCandidacy.snapshot.basicInfo.firstname + " " + nominatedCandidacy.snapshot.basicInfo.lastname + " (" + nominatedCandidacy.snapshot.username + ")" %></dd>
	<dt><%= $.i18n.prop('SecondNominatedCandidacy') %></dt>
	<dd><%= !_.isObject(secondNominatedCandidacy) ? undefined : secondNominatedCandidacy.snapshot.basicInfo.firstname + " " + secondNominatedCandidacy.snapshot.basicInfo.lastname + " (" + secondNominatedCandidacy.snapshot.username + ")" %></dd>
	
	<dt><%= $.i18n.prop('ApofasiAnapompisFile') %></dt>
	<dd>
		<div id="apofasiAnapompisFile"></div>
	</dd>
</dl>	