<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th></th>
			<th><%= $.i18n.prop("ID") %></th>
			<th><%= $.i18n.prop("Name") %></th>
			<th><%= $.i18n.prop("Surname") %></th>
			<th><%= $.i18n.prop("Profile") %></th>
			<th><%= $.i18n.prop("Institution") %></th>
		</tr>
	</thead>
	<tbody>
		<% _.each(professors, function(professor) { %>
		<tr>
			<td>
				<% if (!professor.isMember) { %>
					<input type="checkbox" value="<%= professor.cid %>" data-model-cid="<%= professor.cid %>" />
				<% } %>
			</td>
			<td>
				<a id="view" data-model-cid="<%= professor.cid %>" href="#user/<%= professor.user.id %>"><%= professor.user.id %></a>	
			</td>
			<td><%= professor.user.basicInfo.firstname %></td>
			<td><%= professor.user.basicInfo.lastname%></td>
			<td><%= $.i18n.prop(professor.discriminator) %></td>
			<td>
				<% if (_.isEqual(professor.discriminator, 'PROFESSOR_FOREIGN')) { %>
				<%= professor.institution %>
				<% } else { %>
				<%= _.templates.department(professor.department) %>
				<% } %>
			</td>
		</tr>
		<% }); %>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6">
				<div class="btn-toolbar pull-right" id="details">
					<a id="addMembers" class="btn btn-success"><%= $.i18n.prop('btn_addAll') %></a>
				</div>
			</td>
		</tr>
	</tfoot>
</table>