<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th><%= $.i18n.prop("RegisterMemberExternal") %></th>
					<th><%= $.i18n.prop("ID") %></th>
					<th><%= $.i18n.prop("Name") %></th>
					<th><%= $.i18n.prop("Surname") %></th>
					<th><%= $.i18n.prop("Profile") %></th>
					<th><%= $.i18n.prop("Institution") %></th>
					<th><%= $.i18n.prop("Department") %></th>
					<th><%= $.i18n.prop("Subject") %></th>
				</tr>
			</thead>
			<tbody>
			<% _.each(members, function(member) { %>
				<tr>
					<td><%= $.i18n.prop(member.external ? "Yes" : "No") %></td>
					<td>
						<a id="viewMember" data-committee-member-id="<%= member.id %>" href="#user/<%= member.professor.user.id %>"><%= member.professor.user.id %> </a>
					</td>
					<td><%= member.professor.user.basicInfo.firstname %></td>
					<td><%= member.professor.user.basicInfo.lastname%></td>
					<td><%= $.i18n.prop(member.professor.discriminator) %></td>
					<td>
						<% if (_.isObject(member.professor.institution)) { %> 
							<%= member.professor.institution.name %> 
						<% } else if (!_.isUndefined(member.professor.institution)) { %>
							<%= member.professor.institution %> 
						<% } %>
					</td>
					<td>
						<% if (_.isObject(member.professor.department)) { %> 
							<%= member.professor.department.department %> 
						<% } %>
					</td>
					<td>
						<ul>
						<% _.each(member.subjects, function(subject) { %>
							<li><%= subject.name %></li> 
						<% }); %>
						</ul>
					</td>
				</tr>
			<% }); %>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</div>
</div>