<table class="table table-striped table-bordered">
	<thead>
	<tr>
		<th><input name="f-institution" type="text" class="input-block-level"></th>
		<th><input name="f-subject" type="text" class="input-block-level"></th>
		<th width="1px"></th>
	</tr>
	<tr>
		<th><%= $.i18n.prop("Institution") %></th>
		<th><%= $.i18n.prop("Subject") %></th>
		<th width="1px"></th>
	</tr>
	</thead>
	<tbody>
	<% _.each(registries, function(register) { %>
	<tr>
		<td><%= register.institution.name[App.locale] %></td>
		<td><%= register.subject.name %></td>
		<td width="1px">
			<div class="btn-group btn-group-vertical  btn-block ">
				<% if (register.canEdit) { %>
				<a id="select" data-register-cid="<%= register.cid %>" class="btn btn-success btn-small"><i class="icon-edit icon-white"></i> <%= $.i18n.prop('btn_edit') %></a>
				<% } else { %>
				<a id="select" data-register-cid="<%= register.cid %>" class="btn btn-primary btn-small"><i class="icon-eye-open icon-white"></i> <%= $.i18n.prop('btn_view') %></a>
				<% } %>
				<% if (register.canExport) { %>
				<a href="<%= register.exportUrl %>" target="export" class="btn btn-small"><i class="icon-download"></i> <%= $.i18n.prop('btn_register_export') %></a>
				<% } %>
			</div>
		</td>

	</tr>
	<% }); %>
	</tbody>
	<tfoot>
	<tr>
		<td colspan="3">
			<div class="btn-toolbar" id="actions">
			</div>
		</td>
	</tr>
	</tfoot>
</table>