<tr>
	<td><%= $.i18n.prop(external ? "Yes" : "No") %></td>
	<td>
		<a id="viewMember" href="#user/<%= professor.user.id %>"><%= professor.user.id %> </a>
	</td>
	<td><%= professor.user.basicInfo.firstname %></td>
	<td><%= professor.user.basicInfo.lastname%></td>
	<td><%= $.i18n.prop(professor.discriminator) %></td>
	<td>
		<% if (_.isObject(professor.institution)) { %> 
			<%= professor.institution.name %> 
		<% } else if (!_.isUndefined(professor.institution)) { %>
			<%= professor.institution %> 
		<% } %>
	</td>
	<td>
		<% if (_.isObject(professor.department)) { %> 
			<%= professor.department.department %> 
		<% } %>
	</td>
	<td>
		<ul>
			<% if (_.isObject(professor.subject)) { %>
			<li><%= professor.subject.name %></li>
			 <% } %>
			 <% if (_.isObject(professor.fekSubject)) { %>
			<li><%= professor.fekSubject.name %></li>
			 <% } %>
		</ul>
	</td>
	<td width="70px">
		<% if (canBeDeleted) { %>
		<div class="btn-group">
			<a id="removeMember" data-professor-id="<%= professor.id %>" class="btn btn-mini btn-danger"><i class="icon-minus icon-white"></i> <%= $.i18n.prop('btn_remove_member') %></a>
		</div>
		<% } %>
	</td>
</tr>