<script type="html/template" id="register-list">
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th><%= $.i18n.prop("Institution") %></th>
			<th><%= $.i18n.prop("Department") %></th>
			<th width="100px"></th>
		</tr>
	</thead>
	<tbody>
		<% _.each(registries, function(register) { %>
		<tr>
			<td><%= register.department.institution.name %></td>
			<td><%= register.department.department %></td>
			<td width="100px">
				<p align="center">
					<a href="javascript:void(0)" id="select" data-register-cid="<%= register.cid %>" class="btn btn-mini"><i class="icon-eye-open"></i> <%= $.i18n.prop('btn_select') %></a>
				</p>
			</td>
		</tr>
		<% }); %>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="3">
				<div class="input-prepend input-append" id="actions">
				</div>
			</th>
		</tr>
	</tfoot>
</table>
</script>