<% if (discriminator === "PROFESSOR_DOMESTIC") { %>
<div id="PROFESSOR_DOMESTIC">
	<form class="form-horizontal" onsubmit="return false">
		<fieldset>
			<legend><%= $.i18n.prop('PROFESSOR_DOMESTIC') %></legend>
			<div class="control-group">
				<label class="control-label" for="status"><%= $.i18n.prop('RoleStatus') %>:</label>
				<div class="controls">
					<div class="btn-group">
						<a id="status" class="btn btn-small"><i class="icon-asterisk"></i> <%= $.i18n.prop('status' + status) %></a>
						<a id="status" class="btn btn-small dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-action="status" status="UNAPPROVED" > <%= $.i18n.prop('statusUNAPPROVED') %></a></li>
							<li><a data-action="status" status="ACTIVE" > <%= $.i18n.prop('statusACTIVE') %></a></li>
						</ul>
					</div>
					<span class="help-inline"><%= $.i18n.prop('status' + status + 'Help') %></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="rank"><%= $.i18n.prop('Rank') %>:</label>
				<div class="controls">
					<select class="input-xlarge" name="rank">
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="department"><%= $.i18n.prop('Department') %><br/><%= $.i18n.prop('School') %><br/><%= $.i18n.prop('Institution') %>:</label>
				<div class="controls">
					<input type="text" style="display:none" name="department" value="<%= department.id %>" />
					<span class="help-block"></span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" name="hasOnlineProfile" value="hasOnlineProfile" <%= hasOnlineProfile? "" : "checked" %> /> <%= $.i18n.prop('ProfileCheckbox') %>
					</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="profileURL"><%= $.i18n.prop('ProfileURL') %>:</label>
				<div class="controls">
					<input class="input-xlarge" name="profileURL" type="text" value="<%= profileURL %>" />
					<a href="<%= profileURL %>" target="external"><abbr><%= profileURL %></abbr></a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="profileFile"><%= $.i18n.prop('ProfileFile') %>:</label>
				<div class="controls">
					<input type="hidden" name="profileFile" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="fek"><%= $.i18n.prop('FEK') %>:</label>
				<div class="controls">
					<input class="input-xlarge" name="fek" type="text" value="<%= fek %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="fekFile"><%= $.i18n.prop('FEKFile') %>:</label>
				<div class="controls">
					<input type="hidden" name="fekFile" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
			 		<label class="checkbox">
      					<input type="checkbox" name="fekCheckbox" value="fekCheckbox" /><%= $.i18n.prop('FEKCheckbox') %>
    				</label>
    			</div>
    		</div>
    		<div class="control-group">
    			<label class="control-label" for="fekSubject"><%= $.i18n.prop('FEKSubject') %>:</label>
				<div class="controls">
					<textarea class="input-xlarge" name="fekSubject"><% if (!_.isUndefined(fekSubject)) { %><%= fekSubject.name %><% } %></textarea>
				</div>
    		</div>
    		<div class="control-group">
    			<label class="control-label" for="subject"><%= $.i18n.prop('Subject') %>:</label>
				<div class="controls">
					<textarea class="input-xlarge" name="subject"><% if (!_.isUndefined(subject)) { %><%= subject.name %><% } %></textarea>
				</div>
    		</div>
			<div class="control-group">
				<label class="control-label" for="hasAcceptedTerms"><%= $.i18n.prop('IAcceptTheTerms') %> :</label>
				<div class="controls">
					<input type="checkbox" name="hasAcceptedTerms" value="true" <%= hasAcceptedTerms? "checked" : "" %> />
					<span class="help-block"><%= $.i18n.prop('ApellaTerms') %></span>
				</div>
			</div>
			<div class="form-actions">
				<a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save') %></a>
				<span class="help-block"><%= $.i18n.prop('SaveInstructions') %></span>
			</div>
		</fieldset>
	</form>
</div>
<% } %>
<% if (discriminator === "PROFESSOR_FOREIGN") { %>
<div id="PROFESSOR_FOREIGN">
	<form class="form-horizontal" onsubmit="return false">
		<fieldset>
			<legend><%= $.i18n.prop('PROFESSOR_FOREIGN') %></legend>
			<div class="control-group">
				<label class="control-label" for="status"><%= $.i18n.prop('RoleStatus') %>:</label>
				<div class="controls">
					<div class="btn-group">
						<a id="status" class="btn btn-small"><i class="icon-asterisk"></i> <%= $.i18n.prop('status' + status) %></a>
						<a id="status" class="btn btn-small dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-action="status" status="UNAPPROVED" > <%= $.i18n.prop('statusUNAPPROVED') %></a></li>
							<li><a data-action="status" status="ACTIVE" > <%= $.i18n.prop('statusACTIVE') %></a></li>
						</ul>
					</div>
					<span class="help-inline"><%= $.i18n.prop('status' + status + 'Help') %></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="institution"><%= $.i18n.prop('Institution') %>:</label>
				<div class="controls">
				<input class="input-xlarge" name="institution" type="text" value="<%= institution %>"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="country"><%= $.i18n.prop('InstitutionCountry') %>:</label>
				<div class="controls">
					<select class="input-xlarge" name="country">
					</select>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" name="hasOnlineProfile" value="hasOnlineProfile" <%= hasOnlineProfile? "" : "checked" %> /> <%= $.i18n.prop('ProfileCheckbox') %>
					</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="profileURL"><%= $.i18n.prop('ProfileURL') %>:</label>
				<div class="controls">
					<input class="input-xlarge" name="profileURL" type="text" value="<%= profileURL %>" />
					<a href="<%= profileURL %>" target="external"><%= profileURL %></a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="profileFile"><%= $.i18n.prop('ProfileFile') %>:</label>
				<div class="controls">
					<input type="hidden" name="profileFile" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="rank"><%= $.i18n.prop('Rank') %>:</label>
				<div class="controls">
					<select class="input-xlarge" name="rank">
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="subject"><%= $.i18n.prop('Subject') %>:</label>
				<div class="controls">
				<textarea class="input-xlarge" name="subject" class="edit"><% if (!_.isUndefined(subject)) { %><%= subject.name %><% } %></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="speakingGreek"><%= $.i18n.prop('SpeakingGreek') %>:</label>
				<div class="controls">
					<select name="speakingGreek" class="input-xlarge">
						<option value="">--</option>
						<option	<%= (speakingGreek === true )? 'selected' : undefined %> value='true'><%= $.i18n.prop('ISpeakGreek') %></option>
						<option	<%= (speakingGreek === false)? 'selected' : undefined %> value='false'><%= $.i18n.prop('IDoNotSpeakGreek') %></option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="hasAcceptedTerms"><%= $.i18n.prop('IAcceptTheTerms') %> :</label>

				<div class="controls">
					<input type="checkbox" name="hasAcceptedTerms" value="true" <%= hasAcceptedTerms? "checked" : "" %> />
					<span class="help-block"><%= $.i18n.prop('ApellaTerms') %></span>
				</div>
			</div>
			<div class="form-actions">
				<a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save') %></a>
				<span class="help-block"><%= $.i18n.prop('SaveInstructions') %></span>
			</div>
		</fieldset>
	</form>
</div>
<% } %>
<% if (discriminator === "INSTITUTION_MANAGER") { %>
<div id="INSTITUTION_MANAGER">
	<form class="form-horizontal" onsubmit="return false">
		<fieldset>
			<legend><%= $.i18n.prop('INSTITUTION_MANAGER') %></legend>
			<div class="control-group">
				<label class="control-label" for="status"><%= $.i18n.prop('RoleStatus') %>:</label>
				<div class="controls">
					<div class="btn-group">
						<a id="status" class="btn btn-small"><i class="icon-asterisk"></i> <%= $.i18n.prop('status' + status) %></a>
						<a id="status" class="btn btn-small dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-action="status" status="UNAPPROVED" > <%= $.i18n.prop('statusUNAPPROVED') %></a></li>
							<li><a data-action="status" status="ACTIVE" > <%= $.i18n.prop('statusACTIVE') %></a></li>
						</ul>
					</div>
					<span class="help-inline"><%= $.i18n.prop('status' + status + 'Help') %></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="institution"><%= $.i18n.prop('Institution') %>:</label>
				<div class="controls">
					<select class="input-xlarge" name="institution" >
					</select>
					<span class="help-block"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="verificationAuthority"><%= $.i18n.prop('VerificationAuthority') %>:</label>
				<div class="controls">
				<select class="input-xlarge" name="verificationAuthority">
					<option value="DEAN"><%= $.i18n.prop('VerificationAuthorityDEAN') %></option>
					<option value="PRESIDENT"><%= $.i18n.prop('VerificationAuthorityPRESIDENT') %></option>
				</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="verificationAuthorityName"><%= $.i18n.prop('VerificationAuthorityName') %>:</label>
				<div class="controls">
				<input class="input-xlarge" name="verificationAuthorityName" type="text" value="<%= verificationAuthorityName %>" />
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend><%= $.i18n.prop('AlternateInstitutionManager') %></legend>
			<div class="control-group">
				<label class="control-label" for="alternatefirstname"><%= $.i18n.prop('Name') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternatefirstname" value="<%= alternateBasicInfo.firstname %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="alternatelastname"><%= $.i18n.prop('Surname') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternatelastname" value="<%= alternateBasicInfo.lastname %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="alternatefathername"><%= $.i18n.prop('FatherName') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternatefathername" value="<%= alternateBasicInfo.fathername %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="alternatefirstnamelatin"><%= $.i18n.prop('NameLatin') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternatefirstnamelatin" value="<%= alternateBasicInfoLatin.firstname %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="alternatelastname"><%= $.i18n.prop('SurnameLatin') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternatelastnamelatin" value="<%= alternateBasicInfoLatin.lastname %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="alternatefathernamelatin"><%= $.i18n.prop('FatherNameLatin') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternatefathernamelatin" value="<%= alternateBasicInfoLatin.fathername %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="alternateemail"><%= $.i18n.prop('Email') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternateemail" value="<%= alternateContactInfo.email %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="alternatemobile"><%= $.i18n.prop('Mobile') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternatemobile" value="<%= alternateContactInfo.mobile %>" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="alternatephone"><%= $.i18n.prop('Phone') %>:</label>
				<div class="controls">
					<input class="input-xlarge" type="text" name="alternatephone" value="<%= alternateContactInfo.phone %>" />
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="institutionManagerForm"><%= $.i18n.prop('InstitutionManagerForm') %>:</label>
				<div class="controls">
					<a id="forma_DEAN" href="/dep/rest/role/<%= id %>/documents/InstitutionManagerCertificationDean" target="documents"><%= $.i18n.prop('InstitutionManagerFormDEAN') %></a>
					<a id="forma_PRESIDENT" href="/dep/rest/role/<%= id %>/documents/InstitutionManagerCertificationPresident" target="documents"><%= $.i18n.prop('InstitutionManagerFormPRESIDENT') %></a>
				</div>
			</div>
			<div class="form-actions">
				<a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save') %></a>
				<span class="help-block"><%= $.i18n.prop('SaveInstructions') %></span>
			</div>
		</fieldset>
	</form>
</div>
<% } %>
<% if (discriminator === "INSTITUTION_ASSISTANT") { %>
<div id="INSTITUTION_ASSISTANT">
	<form class="form-horizontal" onsubmit="return false">
		<fieldset>
			<legend><%= $.i18n.prop('INSTITUTION_ASSISTANT') %></legend>
			<div class="control-group">
				<label class="control-label" for="status"><%= $.i18n.prop('RoleStatus') %>:</label>
				<div class="controls">
					<div class="btn-group">
						<a id="status" class="btn btn-small"><i class="icon-asterisk"></i> <%= $.i18n.prop('status' + status) %></a>
						<a id="status" class="btn btn-small dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-action="status" status="UNAPPROVED" > <%= $.i18n.prop('statusUNAPPROVED') %></a></li>
							<li><a data-action="status" status="ACTIVE" > <%= $.i18n.prop('statusACTIVE') %></a></li>
						</ul>
					</div>
					<span class="help-inline"><%= $.i18n.prop('status' + status + 'Help') %></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="institution"><%= $.i18n.prop('Institution') %>:</label>
				<div class="controls">
					<select class="input-xlarge" name="institution" >
					</select>
					<span class="help-block"></span>
				</div>
			</div>
			<div class="form-actions">
				<a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save') %></a>
				<span class="help-block"><%= $.i18n.prop('SaveInstructions') %></span>
			</div>
		</fieldset>
	</form>
</div>
<% } %>
<% if (discriminator === "MINISTRY_MANAGER") { %>
<div id="MINISTRY_MANAGER">
	<form class="form-horizontal" onsubmit="return false">
		<fieldset>
			<legend><%= $.i18n.prop('MINISTRY_MANAGER') %></legend>
			<div class="control-group">
				<label class="control-label" for="status"><%= $.i18n.prop('RoleStatus') %>:</label>
				<div class="controls">
					<div class="btn-group">
						<a id="status" class="btn btn-small"><i class="icon-asterisk"></i> <%= $.i18n.prop('status' + status) %></a>
						<a id="status" class="btn btn-small dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-action="status" status="UNAPPROVED" > <%= $.i18n.prop('statusUNAPPROVED') %></a></li>
							<li><a data-action="status" status="ACTIVE" > <%= $.i18n.prop('statusACTIVE') %></a></li>
						</ul>
					</div>
					<span class="help-inline"><%= $.i18n.prop('status' + status + 'Help') %></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="ministry"><%= $.i18n.prop('Ministry') %>:</label>
				<div class="controls">
				<input class="input-xlarge" name="ministry" type="text" value="<%= ministry %>" />
				</div>
			</div>
			<div class="form-actions">
				<a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save') %></a>
				<span class="help-block"><%= $.i18n.prop('SaveInstructions') %></span>
			</div>
		</fieldset>
	</form>
</div>
<% } %>
<% if (discriminator === "MINISTRY_ASSISTANT") { %>
<div id="MINISTRY_ASSISTANT">
	<form class="form-horizontal" onsubmit="return false">
		<fieldset>
			<legend><%= $.i18n.prop('MINISTRY_ASSISTANT') %></legend>
			<div class="control-group">
				<label class="control-label" for="status"><%= $.i18n.prop('RoleStatus') %>:</label>
				<div class="controls">
					<div class="btn-group">
						<a id="status" class="btn btn-small"><i class="icon-asterisk"></i> <%= $.i18n.prop('status' + status) %></a>
						<a id="status" class="btn btn-small dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-action="status" status="UNAPPROVED" > <%= $.i18n.prop('statusUNAPPROVED') %></a></li>
							<li><a data-action="status" status="ACTIVE" > <%= $.i18n.prop('statusACTIVE') %></a></li>
						</ul>
					</div>
					<span class="help-inline"><%= $.i18n.prop('status' + status + 'Help') %></span>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<% } %>
<% if (discriminator === "CANDIDATE") { %>
<div id="CANDIDATE">
	<form class="form-horizontal" onsubmit="return false">
		<fieldset>
			<legend><%= $.i18n.prop('CANDIDATE') %></legend>
			<div class="control-group">
				<label class="control-label" for="status"><%= $.i18n.prop('RoleStatus') %>:</label>
				<div class="controls">
					<div class="btn-group">
						<a id="status" class="btn btn-small"><i class="icon-asterisk"></i> <%= $.i18n.prop('status' + status) %></a>
						<a id="status" class="btn btn-small dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a data-action="status" status="UNAPPROVED" > <%= $.i18n.prop('statusUNAPPROVED') %></a></li>
							<li><a data-action="status" status="ACTIVE" > <%= $.i18n.prop('statusACTIVE') %></a></li>
						</ul>
					</div>
					<span class="help-inline"><%= $.i18n.prop('status' + status + 'Help') %></span>
				</div>
			</div>
			<% if (primary) { %>
			<div class="control-group">
				<label class="control-label" for="tautotitaFile"><%= $.i18n.prop('TautotitaFile') %>:</label>
				<div class="controls">
					<input type="hidden" name="tautotitaFile" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="bebaiwsiStratiwtikisThitiasFile"><%= $.i18n.prop('BebaiwsiStratiwtikisThitiasFile') %>:</label>
				<div class="controls">
					<input type="hidden" name="bebaiwsiStratiwtikisThitiasFile" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="formaSymmetoxisFile"><%= $.i18n.prop('FormaSymmetoxisFile') %> <a href="/dep/rest/role/<%= id %>/documents/CandidateCertification" target="documents"><%= $.i18n.prop('DownloadHere') %></a>:</label>
				<div class="controls">
					<input type="hidden" name="formaSymmetoxisFile" />
				</div>
			</div>
			<% } %>
			<div class="control-group">
				<label class="control-label" for="biografikoFile"><%= $.i18n.prop('BiografikoFile') %>:</label>
				<div class="controls">
					<input type="hidden" name="biografikoFile" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="ptyxioFileList"><%= $.i18n.prop('PtyxioFileList') %>:</label>
				<div class="controls">
					<input type="hidden" name="ptyxioFileList" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="dimosieusiFileList"><%= $.i18n.prop('DimosieusiFileList') %>:</label>
				<div class="controls">
					<input type="hidden" name="dimosieusiFileList" />
				</div>
			</div>
			<div class="form-actions">
				<a id="save" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save') %></a>
				<span class="help-block"><%= $.i18n.prop('SaveInstructions') %></span>
			</div>
		</fieldset>
	</form>
</div>
<% } %>