<p id="messages" class="notice"></p>
<% if (discriminator === "PROFESSOR_DOMESTIC") { %>
<div id="PROFESSOR_DOMESTIC">
	<form onsubmit="return false">
		<fieldset>
			<legend>Domestic Professor</legend>
			<p>
				<label for="institution">Institution:</label>
				<select name="institution" class="edit">
				</select>
			</p>
			<p>
				<label for="rank">Rank:</label>
				<textarea name="rank" class="edit" ><% if (!_.isUndefined(rank)) { %><%= rank.name %><% } %></textarea>
			</p>
			<p>
				<label for="position">Position:</label>
				<input name="position" class="edit" type="text" value="<%= position %>" />
			</p>
			<p>
				<label for="subject">Subject (Γνωστικό Αντικείμενο):</label>
				<textarea name="subject" class="edit"><% if (!_.isUndefined(subject)) { %><%= subject.name %><% } %></textarea>
			</p>
			<p>
				<label for="fek">ΦΕΚ:</label>
				<input name="fek" class="edit" type="text" value="<%= fek %>" />
			</p>
			<p>
				<label for="fekSubject">ΦΕΚ Subject:</label>
				<textarea name="fekSubject" class="edit"><% if (!_.isUndefined(fekSubject)) { %><%= fekSubject.name %><% } %></textarea>
			</p>
			<p>
				<label for="fekFile">ΦΕΚ File:</label>
				<span id="fekFile"></span>
			</p>
		</fieldset>
		<p>
			<a id="remove" class="button">Remove</a>
			<a id="save" class="button">Save</a>
			<a id="cancel" class="button">Cancel</a>
		</p>
	</form>
</div>
<% } %>
<% if (discriminator === "PROFESSOR_FOREIGN") { %>
<div id="PROFESSOR_FOREIGN">
	<form onsubmit="return false">
		<fieldset>
			<legend>Foreign Professor</legend>
			<p>
				<label for="institution">Institution:</label>
				<input name="institution" class="edit" type="text" value="<%= institution %>"/>
			</p>
			<p>
				<label for="position">Position:</label>
				<input name="position" class="edit" type="text" value="<%= position %>" />
			</p>
			<p>
				<label for="rank">Rank:</label>
				<textarea name="rank" class="edit" ><% if (!_.isUndefined(rank)) { %><%= rank.name %><% } %></textarea>
			</p>
			<p>
				<label for="subject">Subject (Γνωστικό Αντικείμενο):</label>
				<textarea name="subject" class="edit"><% if (!_.isUndefined(subject)) { %><%= subject.name %><% } %></textarea>
			</p>
		</fieldset>
		<p>
			<a id="remove" class="button">Remove</a>
			<a id="save" class="button">Save</a>
			<a id="cancel" class="button">Cancel</a>
		</p>
	</form>
</div>
<% } %>
<% if (discriminator === "INSTITUTION_MANAGER") { %>
<div id="INSTITUTION_MANAGER">
	<form onsubmit="return false">
		<fieldset>
			<legend>Institution Manager</legend>
			<p>
				<label for="institution">Institution:</label>
				<select name="institution" class="edit" >
				</select>
			</p>
		</fieldset>
		<p>
			<a id="remove" class="button">Remove</a>
			<a id="save" class="button">Save</a>
			<a id="cancel" class="button">Cancel</a>
		</p>
	</form>
</div>
<% } %>
<% if (discriminator === "DEPARTMENT_MANAGER") { %>
<div id="DEPARTMENT_MANAGER">
	<form onsubmit="return false">
		<fieldset>
			<legend>Department Manager</legend>
			<p>
				<label for="department">Department:</label>
				<select name="department" class="edit" >
				</select>
			</p>
		</fieldset>
		<p>
			<a id="remove" class="button">Remove</a>
			<a id="save" class="button">Save</a>
			<a id="cancel" class="button">Cancel</a>
		</p>
	</form>
</div>
<% } %>
<% if (discriminator === "INSTITUTION_ASSISTANT") { %>
<div id="INSTITUTION_ASSISTANT">
	<form onsubmit="return false">
		<fieldset>
			<legend>Institution Assistant</legend>
			<p>
				<label for="institution">Institution:</label>
				<select name="institution" class="edit" >
				</select>
			</p>
			<p>
				<label for="manager">Manager:</label>
				<span><a id="view-manager">View</a></span>
			</p>
		</fieldset>
		<p>
			<a id="remove" class="button">Remove</a>
			<a id="save" class="button">Save</a>
			<a id="cancel" class="button">Cancel</a>
		</p>
	</form>
</div>
<% } %>
<% if (discriminator === "MINISTRY_MANAGER") { %>
<div id="MINISTRY_MANAGER">
	<form onsubmit="return false">
		<fieldset>
			<legend>Institution Assistant</legend>
			<p>
				<label for="ministry">Ministry:</label>
				<input name="ministry" class="edit" type="text" value="<%= ministry %>" />
			</p>
			<p>
				<label for="manager">Manager:</label>
				<span><a id="view-manager">View</a></span>
			</p>
		</fieldset>
		<p>
			<a id="remove" class="button">Remove</a>
			<a id="save" class="button">Save</a>
			<a id="cancel" class="button">Cancel</a>
		</p>
	</form>
</div>
<% } %>
<% if (discriminator === "CANDIDATE") { %>
<div id="CANDIDATE">
	<form onsubmit="return false">
		<fieldset>
			<legend>Candidate</legend>
			<p>
				<label for="cv">Curiculum Vitae:</label>
				<span>
					<% if (typeof(cv) !== "undefined" && cv !== null) { %>
					<%= cv.name  %>
					<% } %>	
				</span>
				<span id="cv"></span>
			</p>
			<p>
				<label for="identity">Identity:</label>
				<span>
					<% if (typeof(identity) !== "undefined" && identity !== null) { %>
					<%= identity.name  %>
					<% } %>
				</span>
				<span id="identity"></span>
			</p>
			<p>
				<label for="military1599">Military1599:</label>
				<span>
					<% if (typeof(military1599) !== "undefined" && military1599 !== null) { %>
					<%= military1599.name  %>
					<% } %>
				</span>
				<span id="military1599"></span>
			</p>
			
		</fieldset>
		<p>
			<a id="remove" class="button">Remove</a>
			<a id="save" class="button">Save</a>
			<a id="cancel" class="button">Cancel</a>
		</p>
	</form>
</div>
<% } %>