<div class="row-fluid">
    <div class="span12">
        <p class="pull-right label">
            <%= date %>
        </p>
    </div>
</div>

<div class="row-fluid">
<div class="span6">
    <table class="table table-bordered">
        <tr>
            <th>
                <%= $.i18n.prop('User') %>
            </th>
            <th width="25%">
                <p class="text-right">
                    <%= $.i18n.prop('Verified') %>
                </p>
            </th>
            <th width="25%">
                <p class="text-right">
                    <%= $.i18n.prop('Registered') %>
                </p>
            </th>
        </tr>
        <tr>
            <td>
                <%= $.i18n.prop('CANDIDATE') %>
            </td>
            <td>
                <p class="text-right">
                    <%= users.CANDIDATE.verified %>
                </p>
            </td>
            <td>
                <p class="text-right">
                    <%= users.CANDIDATE.registered %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <%= $.i18n.prop('PROFESSOR_FOREIGN') %>
            </td>
            <td>
                <p class="text-right">
                    <%= users.PROFESSOR_FOREIGN.verified %>
                </p>
            </td>
            <td>
                <p class="text-right">
                    <%= users.PROFESSOR_FOREIGN.registered %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <%= $.i18n.prop('PROFESSOR_DOMESTIC') %>
            </td>
            <td>
                <p class="text-right">
                    <%= users.PROFESSOR_DOMESTIC.verified %>
                </p>
            </td>
            <td>
                <p class="text-right">
                    <%= users.PROFESSOR_DOMESTIC.registered %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <em>&nbsp;&nbsp;&nbsp;&nbsp;<%= $.i18n.prop('RankCategoryPROFESSOR') %></em>
            </td>
            <td>
                <p class="text-right">
                    <%= professors.PROFESSOR.verified %>
                </p>
            </td>
            <td>
                <p class="text-right">
                    <%= professors.PROFESSOR.registered %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <em>&nbsp;&nbsp;&nbsp;&nbsp;<%= $.i18n.prop('RankCategoryRESEARCHER') %></em>
            </td>
            <td>
                <p class="text-right">
                    <%= professors.RESEARCHER.verified %>
                </p>
            </td>
            <td>
                <p class="text-right">
                    <%= professors.RESEARCHER.registered %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <%= $.i18n.prop('INSTITUTION_MANAGER') %>
            </td>
            <td>
                <p class="text-right">
                    <%= users.INSTITUTION_MANAGER.verified %>
                </p>
            </td>
            <td>
                <p class="text-right">
                    <%= users.INSTITUTION_MANAGER.registered %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <%= $.i18n.prop('INSTITUTION_ASSISTANT') %>
            </td>
            <td>
                <p class="text-right">
                    <%= users.INSTITUTION_ASSISTANT.verified %>
                </p>
            </td>
            <td>
                <p class="text-right">
                    <%= users.INSTITUTION_ASSISTANT.registered %>
                </p>
            </td>
        </tr>
    </table>
</div>

<div class="span6">
    <table class="table table-bordered">
        <tr>
            <th>
                <%= $.i18n.prop('InstitutionRegulatoryFramework') %>
            </th>
            <td width="25%">
                <p class="text-right">
                    <%= institutionRegulatoryFrameworks %>
                </p>
            </td>
        </tr>
        <tr>
            <th>
                <%= $.i18n.prop('Register') %>
            </th>
            <td>
                <p class="text-right">
                    <%= registers %>
                </p>
            </td>
        </tr>
        <tr>
            <th>
                <%= $.i18n.prop('Positions') %>
            </th>
            <td width="25%">
                <p class="text-right">
                    <%= positions.TOTAL %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;<%= $.i18n.prop('PositionStatus_ENTAGMENI') %>
            </td>
            <td width="25%">
                <p class="text-right">
                    <%= positions.ENTAGMENI %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;<%= $.i18n.prop('PositionStatus_ANOIXTI') %>
            </td>
            <td>
                <p class="text-right">
                    <%= positions.ANOIXTI %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;<%= $.i18n.prop('PositionStatus_EPILOGI') %>
            </td>
            <td>
                <p class="text-right">
                    <%= positions.EPILOGI %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;<%= $.i18n.prop('PositionStatus_STELEXOMENI') %>
            </td>
            <td>
                <p class="text-right">
                    <%= positions.STELEXOMENI %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;<%= $.i18n.prop('PositionStatus_ANAPOMPI') %>
            </td>
            <td>
                <p class="text-right">
                    <%= positions.ANAPOMPI %>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;<%= $.i18n.prop('PositionStatus_CANCELLED') %>
            </td>
            <td>
                <p class="text-right">
                    <%= positions.CANCELLED %>
                </p>
            </td>
        </tr>
    </table>
    </span6>

</div>
</div>