<h3><%= $.i18n.prop('User') %></h3>
<p id="messages" class="notice"></p>
<form onsubmit="return false">
	<fieldset>
		<legend><%= $.i18n.prop('Account') %> <a id="edit" class="button"><%= $.i18n.prop('btn_edit') %></a></legend>
		<p>
			<label for="username"><%= $.i18n.prop('Username') %>:</label>
			<span><%= username %></span>
			<input class="edit" type="email" name="username" value="<%= username %>"/>
		</p>
		<p>
			<label for="firstname"><%= $.i18n.prop('Name') %>:</label>
			<span><%= basicInfo.firstname %></span>
			<input type="text" name="firstname" value="<%= basicInfo.firstname %>"/>
		</p>
		<p>
			<label for="lastname"><%= $.i18n.prop('Surname') %>:</label>
			<span><%= basicInfo.lastname %></span>
			<input type="text" name="lastname" value="<%= basicInfo.lastname %>"/>
		</p>
		<p>
			<label for="password"><%= $.i18n.prop('Password') %>:</label>
			<input type="password" name="password" />
		</p>
		<p>
			<label for="confirm_password"><%= $.i18n.prop('ConfirmPassword') %>:</label>
			<input type="password" name="confirm_password" />
		</p>
	</fieldset>
	<fieldset>
		<legend><%= $.i18n.prop('ContactInformation') %></legend>
		<p>
			<label for="email"><%= $.i18n.prop('EMail') %>:</label>
			<span><%= contactInfo.email %></span>
			<input type="text" name="email" value="<%= contactInfo.email %>"/>
		</p>
		<p>
			<label for="phoneNumber"><%= $.i18n.prop('Phone') %>:</label>
			<span><%= contactInfo.phoneNumber %></span>
			<input type="text" name="phoneNumber" value="<%= contactInfo.phoneNumber %>"/>
		</p>
	</fieldset>
	<fieldset>
		<legend><%= $.i18n.prop('Address') %></legend>
		<p>
			<label for="address_street"><%= $.i18n.prop('Street') %>:</label>
			<span><%= contactInfo.address.street %></span>
			<input type="text" name="address_street" value="<%= contactInfo.address.street %>"/>
		</p>
		<p>
			<label for="address_number"><%= $.i18n.prop('StreetNumber') %>:</label>
			<span><%= contactInfo.address.number %></span>
			<input type="text" name="address_number" value="<%= contactInfo.address.number %>"/>
		</p>
		<p>
			<label for="address_zip"><%= $.i18n.prop('Zip') %>:</label>
			<span><%= contactInfo.address.zip %></span>
			<input type="text" name="address_zip" value="<%= contactInfo.address.zip %>"/>
		</p>
		<p>
			<label for="address_city"><%= $.i18n.prop('City') %>:</label>
			<span><%= contactInfo.address.city %></span>
			<input type="text" name="address_city" value="<%= contactInfo.address.city %>"/>
		</p>
		<p>
			<label for="address_country"><%= $.i18n.prop('Country') %>:</label>
			<span><%= contactInfo.address.country %></span>
			<input type="text" name="address_country" value="<%= contactInfo.address.country %>"/>
		</p>
	</fieldset>
	<p>
		<a id="save" class="button"><%= $.i18n.prop('btn_save') %></a>
		<a id="cancel" class="button"><%= $.i18n.prop('btn_cancel') %></a>
	</p>
</form>
