<h3>User</h3>
<p>Registration Form for ..... lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p>
<p id="messages" class="notice"></p>
<form onsubmit="return false">
	<fieldset>
		<legend>Account <a id="edit" class="button">Edit</a></legend>
		<p>
			<label for="username">Username (email):</label>
			<span><%= username %></span>
			<input class="edit" type="email" name="username" value="<%= username %>"/>
		</p>
		<p>
			<label for="firstname">Name:</label>
			<span><%= basicInfo.firstname %></span>
			<input type="text" name="firstname" value="<%= basicInfo.firstname %>"/>
		</p>
		<p>
			<label for="lastname">Surname:</label>
			<span><%= basicInfo.lastname %></span>
			<input type="text" name="lastname" value="<%= basicInfo.lastname %>"/>
		</p>
		<p>
			<label for="password">Password:</label>
			<input type="password" name="password" />
		</p>
		<p>
			<label for="confirm_password">Confirm Password:</label>
			<input type="password" name="confirm_password" />
		</p>
	</fieldset>
	<fieldset>
		<legend>Contact Information</legend>
		<p>
			<label for="email">E-Mail:</label>
			<span><%= contactInfo.email %></span>
			<input type="text" name="email" value="<%= contactInfo.email %>"/>
		</p>
		<p>
			<label for="phoneNumber">Phone:</label>
			<span><%= contactInfo.phoneNumber %></span>
			<input type="text" name="phoneNumber" value="<%= contactInfo.phoneNumber %>"/>
		</p>
	</fieldset>
	<fieldset>
		<legend>Address</legend>
		<p>
			<label for="address_street">Street:</label>
			<span><%= contactInfo.address.street %></span>
			<input type="text" name="address_street" value="<%= contactInfo.address.street %>"/>
		</p>
		<p>
			<label for="address_number">Street Number:</label>
			<span><%= contactInfo.address.number %></span>
			<input type="text" name="address_number" value="<%= contactInfo.address.number %>"/>
		</p>
		<p>
			<label for="address_zip">Zip:</label>
			<span><%= contactInfo.address.zip %></span>
			<input type="text" name="address_zip" value="<%= contactInfo.address.zip %>"/>
		</p>
		<p>
			<label for="address_city">City:</label>
			<span><%= contactInfo.address.city %></span>
			<input type="text" name="address_city" value="<%= contactInfo.address.city %>"/>
		</p>
		<p>
			<label for="address_country">Country:</label>
			<span><%= contactInfo.address.country %></span>
			<input type="text" name="address_country" value="<%= contactInfo.address.country %>"/>
		</p>
	</fieldset>
	<p>
		<a id="save" class="button">Save</a>
		<a id="cancel" class="button">Cancel</a>
	</p>
</form>
