<form class="form-horizontal" onsubmit="return false">
	<fieldset>
		<legend><%= $.i18n.prop('Account') %></legend>
		<div class="control-group">
			<label class="control-label" for="username"><%= $.i18n.prop('Username') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="email" name="username" value="<%= username %>" disabled="disabled" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="firstname"><%= $.i18n.prop('Name') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="firstname" value="<%= basicInfo.firstname %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="lastname"><%= $.i18n.prop('Surname') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="lastname" value="<%= basicInfo.lastname %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="fathername"><%= $.i18n.prop('FatherName') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="fathername" value="<%= basicInfo.fathername %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="firstnamelatin"><%= $.i18n.prop('NameLatin') %>:</label>
			<div class="controls">
				<input type="text" name="firstnamelatin" value="<%= basicInfoLatin.firstname %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="lastname"><%= $.i18n.prop('SurnameLatin') %>:</label>
			<div class="controls">
				<input type="text" name="lastnamelatin" value="<%= basicInfoLatin.lastname %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="fathernamelatin"><%= $.i18n.prop('FatherNameLatin') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="fathernamelatin" value="<%= basicInfoLatin.fathername %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password"><%= $.i18n.prop('Password') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="password" name="password" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="confirm_password"><%= $.i18n.prop('ConfirmPassword') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="password" name="confirm_password" />
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend><%= $.i18n.prop('ContactInformation') %></legend>
		<div class="control-group">
			<label class="control-label" for="email"><%= $.i18n.prop('EMail') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="email" value="<%= contactInfo.email %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="mobile"><%= $.i18n.prop('Mobile') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="mobile" value="<%= contactInfo.mobile %>" />
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend><%= $.i18n.prop('Address') %></legend>
		<div class="control-group">
			<label class="control-label" for="address_street"><%= $.i18n.prop('Street') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="address_street" value="<%= contactInfo.address.street %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" class="control-label" for="address_number"><%= $.i18n.prop('StreetNumber') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="address_number" value="<%= contactInfo.address.number %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="address_zip"><%= $.i18n.prop('Zip') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="address_zip" value="<%= contactInfo.address.zip %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="address_city"><%= $.i18n.prop('City') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="address_city" value="<%= contactInfo.address.city %>" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="address_country"><%= $.i18n.prop('Country') %>:</label>
			<div class="controls">
				<input class="input-xlarge" type="text" name="address_country" value="<%= contactInfo.address.country %>" />
			</div>
		</div>
		<div class="form-actions">
			<a id="save" href="javascript:void(0)" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%= $.i18n.prop('btn_save') %></a>
			<a id="cancel" href="javascript:void(0)" class="btn"><i class="icon-refresh"></i> <%= $.i18n.prop('btn_cancel') %></a>
		</div>
	</fieldset>
</form>