<script type="html/template" id="user">
<h4><%= $.i18n.prop('Account') %></h4>
<dl class="dl-horizontal">
	<dt><%= $.i18n.prop('UserStatus') %></dt>
	<dd>
	<div class="btn-group">
		<a class="btn btn-small" href="javascript:void(0)"><i class="icon-user"></i> <%= $.i18n.prop('status' + status) %></a>
		<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a class="status" user="<%= id %>" status="CREATED" href="javascript:void(0)"> <%= $.i18n.prop('statusCREATED') %></a></li>
			<li><a class="status" user="<%= id %>" status="UNVERIFIED" href="javascript:void(0)"> <%= $.i18n.prop('statusUNVERIFIED') %></a></li>
			<li><a class="status" user="<%= id %>" status="ACTIVE" href="javascript:void(0)"> <%= $.i18n.prop('statusACTIVE') %></a></li>
			<li><a class="status" user="<%= id %>" status="BLOCKED" href="javascript:void(0)"> <%= $.i18n.prop('statusBLOCKED') %></a></li>
			<li><a class="status" user="<%= id %>" status="DELETED" href="javascript:void(0)"> <%= $.i18n.prop('statusDELETED') %></a></li>
		</ul>
	</div>
	</dd>
	<dt><%= $.i18n.prop('Username') %></dt>
	<dd><%= username %></dd>
	<dt><%= $.i18n.prop('Name') %></dt>
	<dd><%= basicInfo.firstname %></dd>
	<dt><%= $.i18n.prop('Surname') %></dt>
	<dd><%= basicInfo.lastname %></dd>
	<dt><%= $.i18n.prop('FatherName') %></dt>
	<dd><%= basicInfo.fathername %></dd>
	<dt><%= $.i18n.prop('NameLatin') %></dt>
	<dd><%= basicInfoLatin.firstname %></dd>
	<dt><%= $.i18n.prop('SurnameLatin') %></dt>
	<dd><%= basicInfoLatin.lastname %></dd>
	<dt><%= $.i18n.prop('FatherNameLatin') %></dt>
	<dd><%= basicInfoLatin.fathername %></dd>
	
</dl>
<h4><%= $.i18n.prop('ContactInformation') %></h4>
<dl class="dl-horizontal">
	<dt><%= $.i18n.prop('EMail') %></dt>
	<dd><%= contactInfo.email %></dd>
	<dt><%= $.i18n.prop('Mobile') %></dt>
	<dd><%= contactInfo.mobile %></dd>
</dl>
<h4><%= $.i18n.prop('Address') %></h4>
<dl class="dl-horizontal">
	<dt><%= $.i18n.prop('Street') %></dt>
	<dd><%= contactInfo.address.street %></dd>
	<dt><%= $.i18n.prop('StreetNumber') %></dt>
	<dd><%= contactInfo.address.number %></dd>
	<dt><%= $.i18n.prop('Zip') %></dt>
	<dd><%= contactInfo.address.zip %></dd>
	<dt><%= $.i18n.prop('City') %></dt>
	<dd><%= contactInfo.address.city %></dd>
	<dt><%= $.i18n.prop('Country') %></dt>
	<dd><%= contactInfo.address.country %></dd>
</dl>
<hr/>
</script>