<h2><%= $.i18n.prop('VerificationForm') %></h2>
<p><%= $.i18n.prop('Instructions_VerificationSuccess') %></p>
<h3><%= $.i18n.prop('Account') %></h3>
<dl class="dl-table">
	<dt><%= $.i18n.prop('Username') %></dt>
	<dd><%= username %></dd>
	<dt><%= $.i18n.prop('Name') %></dt>
	<dd><%= basicInfo.firstname %></dd>
	<dt><%= $.i18n.prop('Surname') %></dt>
	<dd><%= basicInfo.lastname %></dd>
	<dt><%= $.i18n.prop('NameLatin') %></dt>
	<dd><%= basicInfoLatin.firstname %></dd>
	<dt><%= $.i18n.prop('SurnameLatin') %></dt>
	<dd><%= basicInfoLatin.lastname %></dd>
</dl>
<h3><%= $.i18n.prop('ContactInformation') %></h3>
<dl class="dl-table">
	<dt><%= $.i18n.prop('Email') %></dt>
	<dd><%= contactInfo.email %></dd>
	<dt><%= $.i18n.prop('Mobile') %></dt>
	<dd><%= contactInfo.mobile %></dd>
</dl>
<h3><a href="index.html"><%= $.i18n.prop('Login') %></a></h3>