<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#user" data-toggle="tab"><%= $.i18n.prop('Account') %></a></li>
	<li><a href="#role" data-toggle="tab"><%= $.i18n.prop('Profile') %></a></li>
	<li><a href="#helpdesk" data-toggle="tab"><%= $.i18n.prop('Options') %></a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="user">
	</div>
	<div class="tab-pane" id="role">
	</div>
	<div class="tab-pane" id="helpdesk">
		<div class="row-fluid">
			<div class="span9" id="issue">
			</div>
			<div class="span3">
				<form name="loginEmail" onsubmit="return false">
					<fieldset>
						<legend><%= $.i18n.prop('LoginEmail') %></legend>
					</fieldset>
					<a id="resendLoginEmail" class="btn btn-primary"><i class="icon-envelope icon-white"></i> <%= $.i18n.prop('btn_resendLoginEmail') %></a>
				</form>
			</div>
		</div>
	</div>
</div>