<script type="html/template" id="user-verification">
<h2><%= $.i18n.prop('VerificationForm') %></h2>
<p><%= $.i18n.prop('Instructions_VerificationSuccess') %></p>
<h3><%= $.i18n.prop('Account') %></h3>
<dl class="dl-table">
	<dt><%= $.i18n.prop('Username') %></dt>
	<dd><%= username %></dd>
	<dt><%= $.i18n.prop('Name') %></dt>
	<dd><%= basicInfo.firstname %></dd>
	<dt><%= $.i18n.prop('Surname') %></dt>
	<dd><%= basicInfo.lastname %></dd>
	<dt><%= $.i18n.prop('NameLatin') %></dt>
	<dd><%= basicInfoLatin.firstname %></dd>
	<dt><%= $.i18n.prop('SurnameLatin') %></dt>
	<dd><%= basicInfoLatin.lastname %></dd>
</dl>
<h3><%= $.i18n.prop('ContactInformation') %></h3>
<dl class="dl-table">
	<dt><%= $.i18n.prop('EMail') %></dt>
	<dd><%= contactInfo.email %></dd>
	<dt><%= $.i18n.prop('Mobile') %></dt>
	<dd><%= contactInfo.mobile %></dd>
</dl>
<h3><%= $.i18n.prop('Address') %></h3>
<dl class="dl-table">
	<dt><%= $.i18n.prop('Street') %></dt>
	<dd><%= contactInfo.address.street %></dd>
	<dt><%= $.i18n.prop('StreetNumber') %></dt>
	<dd><%= contactInfo.address.number %></dd>
	<dt><%= $.i18n.prop('Zip') %></dt>
	<dd><%= contactInfo.address.zip %></dd>
	<dt><%= $.i18n.prop('City') %></dt>
	<dd><%= contactInfo.address.city %></dd>
	<dt><%= $.i18n.prop('Country') %></dt>
	<dd><%= contactInfo.address.country %></dd>
</dl>
<a href="registry.html"><%= $.i18n.prop('Login') %></a>
</script>

<div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
	<div class="row">
		<div class="span6">
			<div id="DataTables_Table_1_length" class="dataTables_length">
				<label><select size="1" name="DataTables_Table_1_length" aria-controls="DataTables_Table_1"><option value="10" selected="selected">10</option>
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option></select> records per page</label>
			</div>
		</div>
		<div class="span6">
			<div class="dataTables_filter" id="DataTables_Table_1_filter">
				<label>Search: <input type="text" aria-controls="DataTables_Table_1"></label>
			</div>
		</div>
	</div>
	<table class="table table-striped table-bordered dataTable" id="DataTables_Table_1" style="" aria-describedby="DataTables_Table_1_info">
		<thead>
			<tr role="row">
				<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;"
					aria-sort="ascending" aria-label="Username (email): activate to sort column descending">Username (email)</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;"
					aria-label="Name: activate to sort column ascending">Name</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;"
					aria-label="Surname: activate to sort column ascending">Surname</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;"
					aria-label="Profile: activate to sort column ascending">Profile</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;"
					aria-label="Institution: activate to sort column ascending">Institution</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;"
					aria-label="Department: activate to sort column ascending">Department</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 0px;"
					aria-label=": activate to sort column ascending"></th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<td colspan="7" rowspan="1">
					<div class="btn-toolbar" id="details"></div>
				</td>
			</tr>
		</tfoot>
		<tbody role="alert" aria-live="polite" aria-relevant="all">
			<tr class="odd">

				<td class="  sorting_1"><a href="javascript:void(0)" id="view" data-model-cid="c525">pd@ebs.gr</a></td>
				<td class=" ">Όνομα</td>
				<td class=" ">Επώνυμο</td>
				<td class=" ">Domestic Professor/Research</td>
				<td class=" ">ΟΙΚΟΝΟΜΙΚΟ ΠΑΝΕΠΙΣΤΗΜΙΟ ΑΘΗΝΩΝ</td>
				<td class=" ">ΜΑΡΚΕΤΙΝΓΚ ΚΑΙ ΕΠΙΚΟΙΝΩΝΙΑΣ</td>

				<td width="72px" class=" "><a href="javascript:void(0)" id="select" data-model-cid="c525" class="btn btn-success btn-mini"><i
						class="icon-plus icon-white"></i> Add</a></td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="span6">
			<div class="dataTables_info" id="DataTables_Table_1_info">Showing 1 to 1 of 1 entries</div>
		</div>
		<div class="span6">
			<div class="dataTables_paginate paging_bootstrap pagination">
				<ul>
					<li class="prev disabled"><a href="#">← Previous</a></li>
					<li class="active"><a href="#">1</a></li>
					<li class="next disabled"><a href="#">Next → </a></li>
				</ul>
			</div>
		</div>
	</div>
</div>