body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

a:hover {
	cursor: pointer;
}

a.help:hover {
	cursor: help;
}

/* Footer
-------------------------------------------------- */
.footer {
	padding-top: 70px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 300px;
	margin-top: 70px;
	margin-bottom: -300px;
	background-color: #F2F2F2;
}

.footer p {
	margin-bottom: 0;
}

.footer-links {
	margin: 10px 0;
}

.footer-links li {
	display: inline;
	margin-right: 10px;
}

div.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 5%;
	z-index: 100px;
}

dl.dl-table {
	margin: 1em 0;
	padding: 0;
}

.dl-table dt {
	width: 200px;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

.dl-table dd {
	margin: 0;
	padding: 5px;
}

/* Custom Icons */
.icon-flag-gr {
	background-image: url("images/flag_greece.png");
	background-position: center center;
}

.icon-flag-uk {
	background-image: url("images/flag_united_kingdom.png");
	background-position: center center;
}

/* File Table */
.file-table {
	width: 100%;
	margin-bottom: 10px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-collapse: collapse;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.file-table th,.file-table td {
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	padding-left : 6px;
	padding-right : 2px;
	padding-top : 2px;
	padding-bottom : 2px;
	border-bottom: 1px solid #dddddd;
	border-left: none;
	border-right: none;
	border-top: none;
}

.file-table th {
	font-weight: bold;
}

.file-table thead th {
	padding-top : 0px;
	padding-bottom : 0px;
	vertical-align: bottom;
	font-size: 75%;
}

/* ALERT POPUP */
.alert-popup {
	position: fixed;
	z-index: 100;
	top: 25%;
	left: 15%;
	right: 15%;
}

/* Definition Lists */
dl.dl-glossary {
	margin: 20px auto;
	border-bottom: 1px solid #999;
	letter-spacing: -0.31em;
	*letter-spacing: normal;
	word-spacing: -0.43em;
}

dl.dl-glossary dt {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	width: 30%;
	padding: 3px 2% 4px;
	margin: 0;
	border-top: 1px solid #999;
}

dl.dl-glossary dd {
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	width: 62%;
	padding: 3px 2% 4px;
	margin: 0;
	border-top: 1px solid #999;
}

dl.dl-glossary dt {
	margin-right: -1px;
}

/**
 * Tiles
**/
.tile {
	min-height: 100px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 25px 10px 25px 10px;
	line-height: normal;
}

.tile a {
	display: block;
	text-decoration: none !important;
}

.tile img {
	vertical-align: middle;
	margin: auto;
	padding: 0px;
	position: relative;
	width: 48px;
	height: 48px;
}

.tile span {
	vertical-align: middle;
	display: inline;
}

.tile:active {
	opacity: 0.5;
}

.solid-tilelight {
	background: #6ad8f9;
}

.solid-tilelight span {
	color: #0a3542;
}

.solid-tiledark {
	background: #0a3542;
}

.solid-tiledark span {
	color: #6ad8f9;
}

.shadow-black {
	display: inline-block;
	text-decoration: none;
}

.shadow-black:hover {
	box-shadow: 0px 0px 6px 3px #444;
	-webkit-box-shadow: 0px 0px 6px 3px #444;
	-moz-box-shadow: 0px 0px 6px 3px #444;
	-o-box-shadow: 0px 0px 6px 3px #444;
	-ms-box-shadow: 0px 0px 6px 3px #444;
}

@media (max-width: 767px) {
	.tile {
		text-align: left;
		margin-bottom : 0px;
		height: auto;
	}
}